/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Credit Balance
 *
 * @remarks
 * Retrieves the current account's available credit balance and expected next recurring credit grant time.
 *
 * The balance is a near-real-time hint and can lag one in-flight metered operation. A `402`
 * response from an operation is authoritative when deciding whether more credits are required.
 * Negative ledger balances are returned as `0` available credits.
 *
 * `next_grant_at` comes from the account's billing schedule, not an existing grant's expiration.
 * It is null when no scheduled grant can be determined. Processing may occur later, and other
 * grants may arrive sooner.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * (any scope allowed)
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. The account is always derived
 * from the authenticated token; this endpoint does not accept an account identifier.
 */
export function accountGetCreditBalance(
  client: WistiaCore,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetCreditBalanceResponse,
    | errors.GetCreditBalanceUnauthorizedError
    | errors.GetCreditBalanceNotFoundError
    | errors.GetCreditBalanceInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetCreditBalanceResponse,
      | errors.GetCreditBalanceUnauthorizedError
      | errors.GetCreditBalanceNotFoundError
      | errors.GetCreditBalanceInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const path = pathToFunc("/credits/balance")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getCreditBalance",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetCreditBalanceResponse,
    | errors.GetCreditBalanceUnauthorizedError
    | errors.GetCreditBalanceNotFoundError
    | errors.GetCreditBalanceInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetCreditBalanceResponse$inboundSchema),
    M.jsonErr(401, errors.GetCreditBalanceUnauthorizedError$inboundSchema),
    M.jsonErr(404, errors.GetCreditBalanceNotFoundError$inboundSchema),
    M.jsonErr(500, errors.GetCreditBalanceInternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
