/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Find Media By Embed Location
 *
 * @remarks
 * Find the media embedded at a given URL. Returns the hashed IDs of the
 * account's media that recorded activity at that embed location during the
 * date range, ranked by plays. The resulting hashed IDs can be passed to
 * other endpoints, such as Show Account Top Content's `hashed_ids[]` filter,
 * to fetch analytics for those media.
 *
 * The domain of `embed_url` is always matched exactly. Its path is matched
 * exactly by default, or as a prefix with `path_match=prefix` (e.g.
 * `/pricing` also matching `/pricing/plans`). A path that is empty or `/`
 * is ignored, returning media across all paths on the domain.
 *
 * Embed location data is retained for 6 months; a `start_date` older than
 * that returns a 422 error. When `start_date` and `end_date` are omitted,
 * the full 6-month queryable window is used.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read detailed stats
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. Requests
 * made with such a token are authorized using the permissions of the
 * contact assigned to the token.
 */
export function analyticsAccountFindMediaByEmbedLocation(
  client: WistiaCore,
  request: operations.GetAnalyticsAccountMediaByEmbedLocationRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetAnalyticsAccountMediaByEmbedLocationResponse,
    | errors.GetAnalyticsAccountMediaByEmbedLocationBadRequestError
    | errors.GetAnalyticsAccountMediaByEmbedLocationUnauthorizedError
    | errors.GetAnalyticsAccountMediaByEmbedLocationForbiddenError
    | errors.GetAnalyticsAccountMediaByEmbedLocationUnprocessableEntityError
    | errors.GetAnalyticsAccountMediaByEmbedLocationInternalServerError
    | errors.GetAnalyticsAccountMediaByEmbedLocationServiceUnavailableError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.GetAnalyticsAccountMediaByEmbedLocationRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetAnalyticsAccountMediaByEmbedLocationResponse,
      | errors.GetAnalyticsAccountMediaByEmbedLocationBadRequestError
      | errors.GetAnalyticsAccountMediaByEmbedLocationUnauthorizedError
      | errors.GetAnalyticsAccountMediaByEmbedLocationForbiddenError
      | errors.GetAnalyticsAccountMediaByEmbedLocationUnprocessableEntityError
      | errors.GetAnalyticsAccountMediaByEmbedLocationInternalServerError
      | errors.GetAnalyticsAccountMediaByEmbedLocationServiceUnavailableError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetAnalyticsAccountMediaByEmbedLocationRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/analytics/account/media_by_embed_location")();

  const query = encodeFormQuery({
    "embed_url": payload.embed_url,
    "end_date": payload.end_date,
    "path_match": payload.path_match,
    "per_page": payload.per_page,
    "start_date": payload.start_date,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/analytics/account/media_by_embed_location",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetAnalyticsAccountMediaByEmbedLocationResponse,
    | errors.GetAnalyticsAccountMediaByEmbedLocationBadRequestError
    | errors.GetAnalyticsAccountMediaByEmbedLocationUnauthorizedError
    | errors.GetAnalyticsAccountMediaByEmbedLocationForbiddenError
    | errors.GetAnalyticsAccountMediaByEmbedLocationUnprocessableEntityError
    | errors.GetAnalyticsAccountMediaByEmbedLocationInternalServerError
    | errors.GetAnalyticsAccountMediaByEmbedLocationServiceUnavailableError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.GetAnalyticsAccountMediaByEmbedLocationResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationForbiddenError$inboundSchema,
    ),
    M.jsonErr(
      422,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationUnprocessableEntityError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationInternalServerError$inboundSchema,
    ),
    M.jsonErr(
      503,
      errors
        .GetAnalyticsAccountMediaByEmbedLocationServiceUnavailableError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
