/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Delete Brand
 *
 * @remarks
 * Deletes a brand. Anything the brand was applied to falls back to the
 * account-level default brand, unless `sync_to_customizations` is set, in
 * which case the brand's values are written into each item's own
 * customizations first so they keep their current look.
 *
 * The account-level default brand (`is_default: true`) can't be deleted.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * All data
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. Requests
 * made with such a token are authorized using the permissions of the
 * contact assigned to the token.
 */
export function brandsDelete(
  client: WistiaCore,
  request: operations.DeleteBrandsBrandIdRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.DeleteBrandsBrandIdResponse,
    | errors.DeleteBrandsBrandIdBadRequestError
    | errors.DeleteBrandsBrandIdUnauthorizedError
    | errors.DeleteBrandsBrandIdForbiddenError
    | errors.DeleteBrandsBrandIdNotFoundError
    | errors.DeleteBrandsBrandIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.DeleteBrandsBrandIdRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.DeleteBrandsBrandIdResponse,
      | errors.DeleteBrandsBrandIdBadRequestError
      | errors.DeleteBrandsBrandIdUnauthorizedError
      | errors.DeleteBrandsBrandIdForbiddenError
      | errors.DeleteBrandsBrandIdNotFoundError
      | errors.DeleteBrandsBrandIdInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.DeleteBrandsBrandIdRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    brandId: encodeSimple("brandId", payload.brandId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/brands/{brandId}")(pathParams);

  const query = encodeFormQuery({
    "sync_to_customizations": payload.sync_to_customizations,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "delete_/brands/{brandId}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "DELETE",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.DeleteBrandsBrandIdResponse,
    | errors.DeleteBrandsBrandIdBadRequestError
    | errors.DeleteBrandsBrandIdUnauthorizedError
    | errors.DeleteBrandsBrandIdForbiddenError
    | errors.DeleteBrandsBrandIdNotFoundError
    | errors.DeleteBrandsBrandIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.DeleteBrandsBrandIdResponse$inboundSchema),
    M.jsonErr(400, errors.DeleteBrandsBrandIdBadRequestError$inboundSchema),
    M.jsonErr(401, errors.DeleteBrandsBrandIdUnauthorizedError$inboundSchema),
    M.jsonErr(403, errors.DeleteBrandsBrandIdForbiddenError$inboundSchema),
    M.jsonErr(404, errors.DeleteBrandsBrandIdNotFoundError$inboundSchema),
    M.jsonErr(500, errors.DeleteBrandsBrandIdInternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
