/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Apply Brand
 *
 * @remarks
 * Applies a brand to a media, folder, or channel, so that resource is styled
 * by the brand's colors, fonts, logos, and layout.
 *
 * A brand has no effect until it is applied to something. Media inherit from
 * their folder, and folders from the account's default brand, so applying a
 * brand to a folder styles everything inside it that has no brand of its own.
 *
 * Applying the account-level default brand (`is_default: true`) is how a
 * resource is un-branded: it detaches the resource so it inherits again.
 *
 * By default this also clears any brand-mapped appearance settings the
 * resource had set directly, so the brand is what shows. Pass
 * `clear_overrides: false` to leave those in place.
 *
 * Responds with the brand now in effect on the resource, which is not always
 * the one you applied — detaching a media returns the brand it falls back to.
 *
 * Webinars can't be branded through this endpoint yet.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * All data
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. Requests
 * made with such a token are authorized using the permissions of the
 * contact assigned to the token.
 */
export function brandsApply(
  client: WistiaCore,
  request: operations.PostBrandsBrandIdApplyRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PostBrandsBrandIdApplyResponse,
    | errors.PostBrandsBrandIdApplyBadRequestError
    | errors.PostBrandsBrandIdApplyUnauthorizedError
    | errors.PostBrandsBrandIdApplyForbiddenError
    | errors.PostBrandsBrandIdApplyNotFoundError
    | errors.PostBrandsBrandIdApplyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.PostBrandsBrandIdApplyRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PostBrandsBrandIdApplyResponse,
      | errors.PostBrandsBrandIdApplyBadRequestError
      | errors.PostBrandsBrandIdApplyUnauthorizedError
      | errors.PostBrandsBrandIdApplyForbiddenError
      | errors.PostBrandsBrandIdApplyNotFoundError
      | errors.PostBrandsBrandIdApplyInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.PostBrandsBrandIdApplyRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const pathParams = {
    brandId: encodeSimple("brandId", payload.brandId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/brands/{brandId}/apply")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "post_/brands/{brandId}/apply",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PostBrandsBrandIdApplyResponse,
    | errors.PostBrandsBrandIdApplyBadRequestError
    | errors.PostBrandsBrandIdApplyUnauthorizedError
    | errors.PostBrandsBrandIdApplyForbiddenError
    | errors.PostBrandsBrandIdApplyNotFoundError
    | errors.PostBrandsBrandIdApplyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.PostBrandsBrandIdApplyResponse$inboundSchema),
    M.jsonErr(400, errors.PostBrandsBrandIdApplyBadRequestError$inboundSchema),
    M.jsonErr(
      401,
      errors.PostBrandsBrandIdApplyUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(403, errors.PostBrandsBrandIdApplyForbiddenError$inboundSchema),
    M.jsonErr(404, errors.PostBrandsBrandIdApplyNotFoundError$inboundSchema),
    M.jsonErr(
      500,
      errors.PostBrandsBrandIdApplyInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
