/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create Bulk Purchase
 *
 * @remarks
 * Submits either an `actions` array of up to 1000 orders or one `job` that can
 * resolve to up to 5000 media. Orders are placed asynchronously. Returns a
 * background job status whose Show endpoint reports aggregate progress and
 * per-order results.
 *
 * Orders in the batch can incur charges, so a saved credit card is required.
 * Supported resource types are `captions` (Wistia-generated English captions),
 * `localization` (a dubbed, language-specific version of a media),
 * `extended_audio_description`, and `text_translation` (the media's transcript
 * translated into another language, audio untouched). Each order's `id` is the
 * hashed ID of the media to order for.
 *
 * What an order costs depends on the account, not on this endpoint. Automated
 * captions are included at no cost on plans that provide them and billed at
 * the account's configured per-minute rate otherwise; human-reviewed captions
 * bill per minute at the account's standard or rush rate; localizations bill
 * per minute once the account's free-dub allowance is used up; text
 * translations bill as an overage once the account's included translation
 * minutes are used up. Check the account's plan and billing settings for its
 * actual rates.
 *
 * Orders are priced and placed individually: failures -- an ineligible media,
 * a language that already has a localization, an account not entitled to buy
 * -- are reported per order and do not stop the rest of the batch. Pricing and
 * eligibility match the equivalent single-media endpoints exactly.
 *
 * Use the Create Bulk Actions endpoint for create, update, and delete work; it
 * does not accept `purchase`, and this endpoint accepts nothing else.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. Requests
 * made with such a token are authorized using the permissions of the
 * contact assigned to the token.
 *
 * [Expiring access tokens](https://docs.wistia.com/reference/post_expiring-token)
 * with authorizations cannot use this endpoint: each action is authorized
 * later, in a background job, as the persisted contact that submitted it,
 * and a token's authorizations are not carried into that job. Such requests
 * are forbidden.
 */
export function bulkPurchase(
  client: WistiaCore,
  request: operations.PostBulkPurchaseRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PostBulkPurchaseResponse,
    | errors.PostBulkPurchaseBadRequestError
    | errors.PostBulkPurchaseUnauthorizedError
    | errors.PostBulkPurchaseForbiddenError
    | errors.PostBulkPurchaseInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.PostBulkPurchaseRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PostBulkPurchaseResponse,
      | errors.PostBulkPurchaseBadRequestError
      | errors.PostBulkPurchaseUnauthorizedError
      | errors.PostBulkPurchaseForbiddenError
      | errors.PostBulkPurchaseInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.PostBulkPurchaseRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/bulk/purchase")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "post_/bulk/purchase",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PostBulkPurchaseResponse,
    | errors.PostBulkPurchaseBadRequestError
    | errors.PostBulkPurchaseUnauthorizedError
    | errors.PostBulkPurchaseForbiddenError
    | errors.PostBulkPurchaseInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(202, operations.PostBulkPurchaseResponse$inboundSchema),
    M.jsonErr(400, errors.PostBulkPurchaseBadRequestError$inboundSchema),
    M.jsonErr(401, errors.PostBulkPurchaseUnauthorizedError$inboundSchema),
    M.jsonErr(403, errors.PostBulkPurchaseForbiddenError$inboundSchema),
    M.jsonErr(500, errors.PostBulkPurchaseInternalServerError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
