/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: ce22a9a17d95
 */

import { WistiaCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

export enum GetAcceptEnum {
  applicationJson = "application/json",
  textPlain = "text/plain",
  textVtt = "text/vtt",
}

/**
 * Captions Show
 *
 * @remarks
 * Returns a video's captions in the specified language.
 * Supports multiple formats: JSON (default), SRT, VTT, and TXT.
 * Use file extensions (.srt, .vtt, .txt) or Accept headers to specify format.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * Read all data
 * Read all project and video data
 * ```
 */
export function captionsGet(
  client: WistiaCore,
  request: operations.GetMediasMediaHashedIdCaptionsLanguageCodeRequest,
  options?: RequestOptions & { acceptHeaderOverride?: GetAcceptEnum },
): APIPromise<
  Result<
    operations.GetMediasMediaHashedIdCaptionsLanguageCodeResponse,
    | errors.GetMediasMediaHashedIdCaptionsLanguageCodeUnauthorizedError
    | errors.GetMediasMediaHashedIdCaptionsLanguageCodeInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.GetMediasMediaHashedIdCaptionsLanguageCodeRequest,
  options?: RequestOptions & { acceptHeaderOverride?: GetAcceptEnum },
): Promise<
  [
    Result<
      operations.GetMediasMediaHashedIdCaptionsLanguageCodeResponse,
      | errors.GetMediasMediaHashedIdCaptionsLanguageCodeUnauthorizedError
      | errors.GetMediasMediaHashedIdCaptionsLanguageCodeInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations
        .GetMediasMediaHashedIdCaptionsLanguageCodeRequest$outboundSchema.parse(
          value,
        ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    languageCode: encodeSimple("languageCode", payload.languageCode, {
      explode: false,
      charEncoding: "percent",
    }),
    mediaHashedId: encodeSimple("mediaHashedId", payload.mediaHashedId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/medias/{mediaHashedId}/captions/{languageCode}")(
    pathParams,
  );

  const headers = new Headers(compactMap({
    Accept: options?.acceptHeaderOverride
      || "application/json;q=1, text/plain;q=0.7, text/vtt;q=0",
    "X-Wistia-API-Version": encodeSimple(
      "X-Wistia-API-Version",
      payload["X-Wistia-API-Version"] ?? client._options.xWistiaAPIVersion,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/medias/{mediaHashedId}/captions/{languageCode}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetMediasMediaHashedIdCaptionsLanguageCodeResponse,
    | errors.GetMediasMediaHashedIdCaptionsLanguageCodeUnauthorizedError
    | errors.GetMediasMediaHashedIdCaptionsLanguageCodeInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .GetMediasMediaHashedIdCaptionsLanguageCodeResponse$inboundSchema,
    ),
    M.text(
      200,
      operations
        .GetMediasMediaHashedIdCaptionsLanguageCodeResponse$inboundSchema,
    ),
    M.text(
      200,
      operations
        .GetMediasMediaHashedIdCaptionsLanguageCodeResponse$inboundSchema,
      { ctype: "text/vtt" },
    ),
    M.jsonErr(
      401,
      errors
        .GetMediasMediaHashedIdCaptionsLanguageCodeUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .GetMediasMediaHashedIdCaptionsLanguageCodeInternalServerError$inboundSchema,
    ),
    M.fail([404, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
