/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v3";
import { WistiaCore } from "../core.js";
import {
  encodeDeepObjectQuery,
  encodeFormQuery,
  encodeSimple,
  queryJoin,
} from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List Channel Collaborators
 *
 * @remarks
 * Lists the collaborators (contacts and contact groups) that have been granted access to a channel.
 *
 * Results are scoped to what the authenticated user is allowed to see: account owners and managers see all collaborators, channel admins see all collaborators on their channels, and everyone else sees only the roles that grant them access.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read all data
 * ```
 */
export function channelCollaboratorsList(
  client: WistiaCore,
  request: operations.GetChannelsChannelHashedIdCollaboratorsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    Array<operations.GetChannelsChannelHashedIdCollaboratorsResponse>,
    | errors.GetChannelsChannelHashedIdCollaboratorsBadRequestError
    | errors.GetChannelsChannelHashedIdCollaboratorsUnauthorizedError
    | errors.GetChannelsChannelHashedIdCollaboratorsNotFoundError
    | errors.GetChannelsChannelHashedIdCollaboratorsInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.GetChannelsChannelHashedIdCollaboratorsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      Array<operations.GetChannelsChannelHashedIdCollaboratorsResponse>,
      | errors.GetChannelsChannelHashedIdCollaboratorsBadRequestError
      | errors.GetChannelsChannelHashedIdCollaboratorsUnauthorizedError
      | errors.GetChannelsChannelHashedIdCollaboratorsNotFoundError
      | errors.GetChannelsChannelHashedIdCollaboratorsInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetChannelsChannelHashedIdCollaboratorsRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    channelHashedId: encodeSimple("channelHashedId", payload.channelHashedId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/channels/{channelHashedId}/collaborators")(
    pathParams,
  );

  const query = queryJoin(
    encodeDeepObjectQuery({
      "cursor": payload.cursor,
    }),
    encodeFormQuery({
      "page": payload.page,
      "per_page": payload.per_page,
      "sort_by": payload.sort_by,
      "sort_direction": payload.sort_direction,
    }),
  );

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/channels/{channelHashedId}/collaborators",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    Array<operations.GetChannelsChannelHashedIdCollaboratorsResponse>,
    | errors.GetChannelsChannelHashedIdCollaboratorsBadRequestError
    | errors.GetChannelsChannelHashedIdCollaboratorsUnauthorizedError
    | errors.GetChannelsChannelHashedIdCollaboratorsNotFoundError
    | errors.GetChannelsChannelHashedIdCollaboratorsInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      z.array(
        operations
          .GetChannelsChannelHashedIdCollaboratorsResponse$inboundSchema,
      ),
    ),
    M.jsonErr(
      400,
      errors
        .GetChannelsChannelHashedIdCollaboratorsBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors
        .GetChannelsChannelHashedIdCollaboratorsUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors.GetChannelsChannelHashedIdCollaboratorsNotFoundError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .GetChannelsChannelHashedIdCollaboratorsInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
