/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Customizations Update
 *
 * @remarks
 * Allows for partial updates on a video’s customizations. If a value is null, then that key will be deleted from the saved customizations. If it is not null, that value will be set.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * ```
 */
export function customizationsUpdate(
  client: WistiaCore,
  request: operations.PutMediasMediaIdCustomizationsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.PutMediasMediaIdCustomizationsResponse,
    | errors.PutMediasMediaIdCustomizationsUnauthorizedError
    | errors.PutMediasMediaIdCustomizationsNotFoundError
    | errors.PutMediasMediaIdCustomizationsInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.PutMediasMediaIdCustomizationsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.PutMediasMediaIdCustomizationsResponse,
      | errors.PutMediasMediaIdCustomizationsUnauthorizedError
      | errors.PutMediasMediaIdCustomizationsNotFoundError
      | errors.PutMediasMediaIdCustomizationsInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.PutMediasMediaIdCustomizationsRequest$outboundSchema.parse(
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const pathParams = {
    mediaId: encodeSimple("mediaId", payload.mediaId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/medias/{mediaId}/customizations")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "X-Wistia-API-Version": encodeSimple(
      "X-Wistia-API-Version",
      payload["X-Wistia-API-Version"] ?? client._options.xWistiaAPIVersion,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "put_/medias/{mediaId}/customizations",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.PutMediasMediaIdCustomizationsResponse,
    | errors.PutMediasMediaIdCustomizationsUnauthorizedError
    | errors.PutMediasMediaIdCustomizationsNotFoundError
    | errors.PutMediasMediaIdCustomizationsInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.PutMediasMediaIdCustomizationsResponse$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors.PutMediasMediaIdCustomizationsUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors.PutMediasMediaIdCustomizationsNotFoundError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.PutMediasMediaIdCustomizationsInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
