/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Set Custom Metadata Field Value
 *
 * @remarks
 * Sets (or replaces) the value of a custom metadata field on a media, addressed by the field definition's immutable key. The lookup is case-insensitive.
 *
 * The request body carries a single polymorphic `value` field whose JSON type must match the definition's `field_type`:
 *
 * - text-like types (`text`, `short_text`, `url`, `email`, `money`, `time`, `datetime`) — a string; format-validated per type (e.g. money is `"USD 12.34"`, time is 24-hour `"14:30"`, datetime is UTC ISO 8601 `"2026-07-10T14:30:00Z"`)
 * - `number` — a JSON number (a numeric string is coerced)
 * - `date` — an ISO 8601 date string like `"2026-07-10"`
 * - `boolean` — a JSON boolean; `false` persists as false (it does not clear the field)
 * - `single_select` — the chosen option's key (a string); unknown option keys return a 422
 * - `multi_select` — an array of the chosen options' keys (strings); unknown option keys or a non-array value return a 422
 * - `contact_ref` — a contact reference object `{"type": "contact" | "contact_group", "id": "<hashed_id>"}`; unknown ids, ids from another account, and group references on fields that do not allow groups return a 422
 * - `contact_multi_ref` — an array of contact reference objects; the same 422 rules apply per reference, and a non-array value returns a 422
 *
 * A null or absent `value` clears the field (equivalent to the DELETE endpoint), as does an empty array for `multi_select` and `contact_multi_ref`. Type mismatches and format violations return a 422 with a field-level message.
 *
 * Only values for active field definitions can be written. Requires the custom metadata feature to be available on your account.
 *
 * <!--- HIDE-MCP -->
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * Upload, read & update all media
 * ```
 * <!--- /HIDE-MCP -->
 */
export function customMetadataFieldValuesPutMediasMediaHashedIdCustomMetadataFieldValuesKey(
  client: WistiaCore,
  request: operations.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    | operations.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyResponse
    | undefined,
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnauthorizedError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyForbiddenError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnprocessableEntityError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      | operations.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyResponse
      | undefined,
      | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnauthorizedError
      | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyForbiddenError
      | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnprocessableEntityError
      | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const pathParams = {
    key: encodeSimple("key", payload.key, {
      explode: false,
      charEncoding: "percent",
    }),
    mediaHashedId: encodeSimple("mediaHashedId", payload.mediaHashedId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc(
    "/medias/{mediaHashedId}/custom_metadata_field_values/{key}",
  )(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "put_/medias/{mediaHashedId}/custom_metadata_field_values/{key}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    | operations.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyResponse
    | undefined,
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnauthorizedError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyForbiddenError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnprocessableEntityError
    | errors.PutMediasMediaHashedIdCustomMetadataFieldValuesKeyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyResponse$inboundSchema
        .optional(),
    ),
    M.nil(
      204,
      operations
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyResponse$inboundSchema
        .optional(),
    ),
    M.jsonErr(
      401,
      errors
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyForbiddenError$inboundSchema,
    ),
    M.jsonErr(
      422,
      errors
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyUnprocessableEntityError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .PutMediasMediaHashedIdCustomMetadataFieldValuesKeyInternalServerError$inboundSchema,
    ),
    M.fail([404, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
