/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Media Show
 *
 * @remarks
 * Fetch detailed information about a media you’ve uploaded to your account using its hashed_id.
 *
 * CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
 * For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * Read all data
 * Read all project and video data
 * ```
 */
export function mediaGet(
  client: WistiaCore,
  request: operations.GetMediasMediaHashedIdRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetMediasMediaHashedIdResponse,
    | errors.GetMediasMediaHashedIdUnauthorizedError
    | errors.GetMediasMediaHashedIdNotFoundError
    | errors.GetMediasMediaHashedIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.GetMediasMediaHashedIdRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetMediasMediaHashedIdResponse,
      | errors.GetMediasMediaHashedIdUnauthorizedError
      | errors.GetMediasMediaHashedIdNotFoundError
      | errors.GetMediasMediaHashedIdInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetMediasMediaHashedIdRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    mediaHashedId: encodeSimple("mediaHashedId", payload.mediaHashedId, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/medias/{mediaHashedId}")(pathParams);

  const query = encodeFormQuery({
    "description_format": payload.description_format,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/medias/{mediaHashedId}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetMediasMediaHashedIdResponse,
    | errors.GetMediasMediaHashedIdUnauthorizedError
    | errors.GetMediasMediaHashedIdNotFoundError
    | errors.GetMediasMediaHashedIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetMediasMediaHashedIdResponse$inboundSchema),
    M.jsonErr(
      401,
      errors.GetMediasMediaHashedIdUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(404, errors.GetMediasMediaHashedIdNotFoundError$inboundSchema),
    M.jsonErr(
      500,
      errors.GetMediasMediaHashedIdInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
