/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { WistiaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Remove Speaker from Media
 *
 * @remarks
 * Removes a speaker assignment from a media. Every turn attributed to the
 * speaker returns to an anonymous detected speaker, which can be named again
 * by assigning it. The speaker's profile stays in the account's speaker
 * library.
 *
 * Pass the media's current `speaker_data_version` as `expected_version` to
 * reject the removal if the speaker data changed since you read it.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * ```
 *
 * Tokens with the "Act with a team member's permissions" permission
 * (`all:delegate_to_contact_permissions` scope) can also be used. Requests
 * made with such a token are authorized using the permissions of the
 * contact assigned to the token, who must be able to edit the media's
 * transcript and view the account's speaker profiles.
 */
export function speakersRemove(
  client: WistiaCore,
  request: operations.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdResponse,
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdBadRequestError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdUnauthorizedError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdForbiddenError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdNotFoundError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdStaleVersionError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdResponse,
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdBadRequestError
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdUnauthorizedError
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdForbiddenError
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdNotFoundError
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdStaleVersionError
      | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdRequest$outboundSchema
        .parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    mediaHashedId: encodeSimple("mediaHashedId", payload.mediaHashedId, {
      explode: false,
      charEncoding: "percent",
    }),
    mediaSpeakerId: encodeSimple("mediaSpeakerId", payload.mediaSpeakerId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/medias/{mediaHashedId}/speakers/{mediaSpeakerId}")(
    pathParams,
  );

  const query = encodeFormQuery({
    "expected_version": payload.expected_version,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "delete_/medias/{mediaHashedId}/speakers/{mediaSpeakerId}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "DELETE",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdResponse,
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdBadRequestError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdUnauthorizedError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdForbiddenError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdNotFoundError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdStaleVersionError
    | errors.DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdResponse$inboundSchema,
    ),
    M.jsonErr(
      400,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      401,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdForbiddenError$inboundSchema,
    ),
    M.jsonErr(
      404,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdNotFoundError$inboundSchema,
    ),
    M.jsonErr(
      409,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdStaleVersionError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .DeleteMediasMediaHashedIdSpeakersMediaSpeakerIdInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
