/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 281bd5edcada
 */

import { WistiaCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { WistiaError } from "../models/errors/wistiaerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Stats:Visitors Show
 *
 * @remarks
 * This endpoint provides detailed information about a specific visitor.
 *
 * ## Requires api token with one of the following permissions
 * ```
 * Read, update & delete anything
 * Read all data
 * Read all project and video data
 * ```
 */
export function statsVisitorsGet(
  client: WistiaCore,
  request: operations.GetStatsVisitorsVisitorKeyRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetStatsVisitorsVisitorKeyResponse,
    | errors.GetStatsVisitorsVisitorKeyUnauthorizedError
    | errors.GetStatsVisitorsVisitorKeyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: WistiaCore,
  request: operations.GetStatsVisitorsVisitorKeyRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetStatsVisitorsVisitorKeyResponse,
      | errors.GetStatsVisitorsVisitorKeyUnauthorizedError
      | errors.GetStatsVisitorsVisitorKeyInternalServerError
      | WistiaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetStatsVisitorsVisitorKeyRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    visitorKey: encodeSimple("visitorKey", payload.visitorKey, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/stats/visitors/{visitorKey}")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "X-Wistia-API-Version": encodeSimple(
      "X-Wistia-API-Version",
      payload["X-Wistia-API-Version"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/stats/visitors/{visitorKey}",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetStatsVisitorsVisitorKeyResponse,
    | errors.GetStatsVisitorsVisitorKeyUnauthorizedError
    | errors.GetStatsVisitorsVisitorKeyInternalServerError
    | WistiaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetStatsVisitorsVisitorKeyResponse$inboundSchema),
    M.jsonErr(
      401,
      errors.GetStatsVisitorsVisitorKeyUnauthorizedError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.GetStatsVisitorsVisitorKeyInternalServerError$inboundSchema,
    ),
    M.fail([404, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
