x-tagGroups:
  - name: Data API
    tags:
      - Projects
      - Subfolders
      - Project Sharings
      - Media
      - Account
      - AllowedDomains
      - Background Job Status
      - Customizations
      - Captions
      - Trims
      - Localizations
      - Tags
      - Search
      - Channels
      - Channel Episodes
      - Expiring Access Tokens
      - Live Stream Events
  - name: Stats API
    tags:
      - Stats:Account
      - Stats:Projects
      - Stats:Media
      - Stats:Visitors
      - Stats:Events
openapi: 3.1.1
info:
  title: Data API
  description: Wistia Data API
  version: 2025.11.0
security:
  - BearerAuth: []
paths:
  /:
    post:
      summary: Upload or Import Media
      description: |
        Endpoint to upload media files from a local system or import from a web URL.

        - Use `multipart/form-data` with a `file` parameter to upload from local system
        - Use `application/x-www-form-urlencoded` with a `url` parameter to import from web URL
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - url
                  properties:
                    url:
                      description: The web location of the media file to import.
                      type: string
                      format: uri
                      examples:
                        - http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4
                    low_priority:
                      description: Inform the encoding service that this upload can be considered lower priority than others. This is especially useful for platform customers doing bulk uploads or migrations. Setting this to "false" has no effect.
                      type: boolean
                      examples:
                        - true
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - file
                  properties:
                    file:
                      description: The media file, multipart-form encoded into the request body.
                      type: string
                      format: binary
      responses:
        '200':
          description: Successfully uploaded or imported.
          content:
            application/json:
              schema:
                description: Response after successfully uploading or importing media
                type: object
                properties:
                  id:
                    description: A unique numeric identifier for the media within the system.
                    type: integer
                  name:
                    description: The display name of the media.
                    type: string
                  type:
                    description: A string representing what type of media this is.
                    type: string
                  created:
                    description: The date when the media was originally uploaded.
                    type: string
                    format: date-time
                  updated:
                    description: The date when the media was last changed.
                    type: string
                    format: date-time
                  duration:
                    description: Specifies the length (in seconds) for audio and video files.
                    type: number
                  hashed_id:
                    description: A unique alphanumeric identifier for this media.
                    type: string
                  progress:
                    description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                    type: number
                    maximum: 1
                    minimum: 0
                  thumbnail:
                    $ref: '#/components/schemas/Thumbnail'
        '400':
          description: Error due to reaching the video limit of your account or other issues.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      detail:
                        type: string
              examples:
                missing_credentials:
                  value:
                    code: upload_failed
                    detail: '''api_password'' or ''access_token'' are required'
        '401':
          description: Authorization error. Check your access_token.
          content:
            text/html: {}
      tags:
        - Upload or Import Media
      x-speakeasy-group: media
      x-speakeasy-name-override: upload
      parameters:
        - $ref: "#/components/parameters/ApiVersionHeader"
    servers:
      - url: https://upload.wistia.com
  /projects:
    get:
      summary: Project List
      description: >
        Use this endpoint to request a list of Projects in your Wistia account. This request supports paging and sorting.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        Read all project and video data

        ```

      parameters:
        - name: page
          in: query
          description: Page number to retrieve
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of projects per page
          required: false
          schema:
            type: integer
        - name: sort_by
          in: query
          description: Ordering
          required: false
          schema:
            type: string
            enum:
              - name
              - created
              - updated
              - mediaCount
              - id
        - name: sort_direction
          in: query
          description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: >-
                        A unique numeric identifier for the project within the system.
                      type: integer
                      examples:
                        - 22570
                    name:
                      description: The project’s display name.
                      type: string
                      examples:
                        - My Project Title
                    description:
                      description: The project’s description.
                      type:
                        - string
                        - 'null'
                      examples:
                        - About My Project
                    mediaCount:
                      description: >-
                        The number of different medias that have been uploaded to the project.
                      type: integer
                      examples:
                        - 2
                    created:
                      description: The date that the project was originally created.
                      type: string
                      format: date-time
                      examples:
                        - '2010-08-13T18:47:39+00:00'
                    updated:
                      description: The date that the project was last updated.
                      type: string
                      format: date-time
                      examples:
                        - '2010-08-19T21:47:00+00:00'
                    hashedId:
                      description: >-
                        A private hashed id, uniquely identifying the project within the system.
                      type: string
                      examples:
                        - 4d23503f70
                    public:
                      description: >-
                        A boolean indicating whether the project is available for public (anonymous) viewing.
                      type: boolean
                      examples:
                        - false
                    publicId:
                      description: >-
                        If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                      type:
                        - string
                        - 'null'
                      examples:
                        - 4bD
                    anonymousCanUpload:
                      type: boolean
                      examples:
                        - false
                    anonymousCanDownload:
                      type: boolean
                      examples:
                        - false
                  required:
                    - id
                    - name
                    - mediaCount
                    - created
                    - updated
                    - hashedId
                    - public
                    - publicId
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: list
    post:
      summary: Project Create
      description: >
        Create a new project. If the project is created successfully the Location HTTP header will point to the new project.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```

      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the project you want to create.
                  type: string
                  examples:
                    - My New Project
                adminEmail:
                  description: >-
                    The email address of the person you want to set as the owner of this project. Defaults to the Wistia Account Owner.
                  type: string
                  examples:
                    - admin@example.com
                public:
                  oneOf:
                    - type: string
                      description: >-
                        A flag indicating whether or not the project is enabled for public access. Set to “1” to enable and “0” to disable.
                      enum:
                        - '0'
                        - '1'
                    - type: boolean
                      description: >-
                        A flag indicating whether or not the project is enabled for public access. Set to `true` to enable and `false` to disable.
                      examples:
                        - false
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: >-
                      A unique numeric identifier for the project within the system.
                    type: integer
                    examples:
                      - 22570
                  name:
                    description: The project’s display name.
                    type: string
                    examples:
                      - My Project Title
                  description:
                    description: The project’s description.
                    type:
                      - string
                      - 'null'
                    examples:
                      - About My Project
                  mediaCount:
                    description: >-
                      The number of different medias that have been uploaded to the project.
                    type: integer
                    examples:
                      - 2
                  created:
                    description: The date that the project was originally created.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                  updated:
                    description: The date that the project was last updated.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                  hashedId:
                    description: >-
                      A private hashed id, uniquely identifying the project within the system.
                    type: string
                    examples:
                      - 4d23503f70
                  public:
                    description: >-
                      A boolean indicating whether the project is available for public (anonymous) viewing.
                    type: boolean
                    examples:
                      - false
                  publicId:
                    description: >-
                      If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                    type:
                      - string
                      - 'null'
                    examples:
                      - 4bD
                  anonymousCanUpload:
                    type: boolean
                    examples:
                      - false
                  anonymousCanDownload:
                    type: boolean
                    examples:
                      - false
                required:
                  - id
                  - name
                  - mediaCount
                  - created
                  - updated
                  - hashedId
                  - public
                  - publicId
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: create
      parameters:
        - $ref: "#/components/parameters/ApiVersionHeader"
  /projects/{id}:
    get:
      summary: Project Show
      description: >
        Retrieve a single project. Projects#show uses pagination by default - we’ll return up to the first 500 medias in a Project. If you have more than 500 medias in a Project, you’ll need to add a query param, page=2 to get the second page of medias (and the third, etc.). You can check how many pages you will need by looking at the media_count in your first request.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        Read all project and video data

        ```

      parameters:
        - name: id
          in: path
          description: Project Hashed ID
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: A single project
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        description: >-
                          A unique numeric identifier for the project within the system.
                        type: integer
                        examples:
                          - 22570
                      name:
                        description: The project’s display name.
                        type: string
                        examples:
                          - My Project Title
                      description:
                        description: The project’s description.
                        type:
                          - string
                          - 'null'
                        examples:
                          - About My Project
                      mediaCount:
                        description: >-
                          The number of different medias that have been uploaded to the project.
                        type: integer
                        examples:
                          - 2
                      created:
                        description: The date that the project was originally created.
                        type: string
                        format: date-time
                        examples:
                          - '2010-08-13T18:47:39+00:00'
                      updated:
                        description: The date that the project was last updated.
                        type: string
                        format: date-time
                        examples:
                          - '2010-08-19T21:47:00+00:00'
                      hashedId:
                        description: >-
                          A private hashed id, uniquely identifying the project within the system.
                        type: string
                        examples:
                          - 4d23503f70
                      public:
                        description: >-
                          A boolean indicating whether the project is available for public (anonymous) viewing.
                        type: boolean
                        examples:
                          - false
                      publicId:
                        description: >-
                          If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                        type:
                          - string
                          - 'null'
                        examples:
                          - 4bD
                      anonymousCanUpload:
                        type: boolean
                        examples:
                          - false
                      anonymousCanDownload:
                        type: boolean
                        examples:
                          - false
                    required:
                      - id
                      - name
                      - mediaCount
                      - created
                      - updated
                      - hashedId
                      - public
                      - publicId
                  - type: object
                    properties:
                      medias:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: >-
                                A unique numeric identifier for the media within the system.
                              type: integer
                            name:
                              description: The display name of the media.
                              type: string
                            type:
                              description: >-
                                A string representing what type of media this is.
                              type: string
                              enum:
                                - Video
                                - Audio
                                - Image
                                - PdfDocument
                                - MicrosoftOfficeDocument
                                - Swf
                                - UnknownType
                            archived:
                              description: >-
                                Whether or not the media is archived, either true or false.
                              type: boolean
                            created:
                              description: The date when the media was originally uploaded.
                              type: string
                              format: date-time
                            updated:
                              description: The date when the media was last changed.
                              type: string
                              format: date-time
                            duration:
                              description: >-
                                Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                              oneOf:
                                - type: number
                                - type: 'null'
                            embedCode:
                              description: >
                                DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                              type: string
                              deprecated: true
                            hashed_id:
                              description: A unique alphanumeric identifier for this media.
                              type: string
                            description:
                              description: >-
                                A description for the media which usually appears near the top of the sidebar on the media's page.
                              type: string
                            progress:
                              description: >-
                                A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                              type: number
                              maximum: 1
                              minimum: 0
                            status:
                              description: >
                                Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                              type: string
                              enum:
                                - queued
                                - processing
                                - ready
                                - failed
                            section:
                              description: >-
                                The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                              oneOf:
                                - type: string
                                - type: 'null'
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
                    required:
                      - medias
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: get
    put:
      summary: Project Update
      description: |
        Update a project

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      parameters:
        - name: id
          in: path
          description: Project Hashed ID
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The project’s new name.
                  type: string
                  examples:
                    - My New Project Name
                description:
                  description: The project’s new description.
                  type: string
                  examples:
                    - My New Project Description
                anonymousCanUpload:
                  description: Whether anonymous users can upload media to the project.
                  type: boolean
                anonymousCanDownload:
                  description: Whether anonymous users can download media from the project.
                  type: boolean
                public:
                  oneOf:
                    - type: string
                      description: >-
                        A flag indicating whether or not the project is enabled for public access. Set to “1” to enable and “0” to disable.
                      enum:
                        - '0'
                        - '1'
                    - type: boolean
                      description: >-
                        A flag indicating whether or not the project is enabled for public access. Set to `true` to enable and `false` to disable.
                      examples:
                        - false
      responses:
        '200':
          description: A single project
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: >-
                      A unique numeric identifier for the project within the system.
                    type: integer
                    examples:
                      - 22570
                  name:
                    description: The project’s display name.
                    type: string
                    examples:
                      - My Project Title
                  description:
                    description: The project’s description.
                    type:
                      - string
                      - 'null'
                    examples:
                      - About My Project
                  mediaCount:
                    description: >-
                      The number of different medias that have been uploaded to the project.
                    type: integer
                    examples:
                      - 2
                  created:
                    description: The date that the project was originally created.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                  updated:
                    description: The date that the project was last updated.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                  hashedId:
                    description: >-
                      A private hashed id, uniquely identifying the project within the system.
                    type: string
                    examples:
                      - 4d23503f70
                  public:
                    description: >-
                      A boolean indicating whether the project is available for public (anonymous) viewing.
                    type: boolean
                    examples:
                      - false
                  publicId:
                    description: >-
                      If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                    type:
                      - string
                      - 'null'
                    examples:
                      - 4bD
                  anonymousCanUpload:
                    type: boolean
                    examples:
                      - false
                  anonymousCanDownload:
                    type: boolean
                    examples:
                      - false
                required:
                  - id
                  - name
                  - mediaCount
                  - created
                  - updated
                  - hashedId
                  - public
                  - publicId
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: update
    delete:
      summary: Project Delete
      description: |
        Delete a project

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      parameters:
        - name: id
          in: path
          description: Project Hashed ID
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: >-
                      A unique numeric identifier for the project within the system.
                    type: integer
                    examples:
                      - 22570
                  name:
                    description: The project’s display name.
                    type: string
                    examples:
                      - My Project Title
                  description:
                    description: The project’s description.
                    type:
                      - string
                      - 'null'
                    examples:
                      - About My Project
                  mediaCount:
                    description: >-
                      The number of different medias that have been uploaded to the project.
                    type: integer
                    examples:
                      - 2
                  created:
                    description: The date that the project was originally created.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                  updated:
                    description: The date that the project was last updated.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                  hashedId:
                    description: >-
                      A private hashed id, uniquely identifying the project within the system.
                    type: string
                    examples:
                      - 4d23503f70
                  public:
                    description: >-
                      A boolean indicating whether the project is available for public (anonymous) viewing.
                    type: boolean
                    examples:
                      - false
                  publicId:
                    description: >-
                      If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                    type:
                      - string
                      - 'null'
                    examples:
                      - 4bD
                  anonymousCanUpload:
                    type: boolean
                    examples:
                      - false
                  anonymousCanDownload:
                    type: boolean
                    examples:
                      - false
                required:
                  - id
                  - name
                  - mediaCount
                  - created
                  - updated
                  - hashedId
                  - public
                  - publicId
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: delete
  /projects/{id}/copy:
    post:
      summary: Project Copy
      description: >
        This method does not copy the project’s sharing information (i.e. users that could see the old project will not automatically be able to see the new one).

        For the request you can specify the owner of a new project by passing an optional parameter. The person you specify must be a Manager in the account.

        For the response, the HTTP Location header will be set to the URL where the new project resource resides. The body of the response will contain an object representing the new copy of the project that was just created.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```

      parameters:
        - name: id
          in: path
          description: Project Hashed ID
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                adminEmail:
                  description: >-
                    The email address of the account Manager that will be the owner of the new project. Defaults to the Account Owner if invalid or omitted.
                  type: string
                  examples:
                    - admin@example.com
      responses:
        '201':
          description: Project copied successfully
          headers:
            Location:
              description: The URL where the new project resource resides.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: >-
                      A unique numeric identifier for the project within the system.
                    type: integer
                    examples:
                      - 22570
                  name:
                    description: The project’s display name.
                    type: string
                    examples:
                      - My Project Title
                  description:
                    description: The project’s description.
                    type:
                      - string
                      - 'null'
                    examples:
                      - About My Project
                  mediaCount:
                    description: >-
                      The number of different medias that have been uploaded to the project.
                    type: integer
                    examples:
                      - 2
                  created:
                    description: The date that the project was originally created.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                  updated:
                    description: The date that the project was last updated.
                    type: string
                    format: date-time
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                  hashedId:
                    description: >-
                      A private hashed id, uniquely identifying the project within the system.
                    type: string
                    examples:
                      - 4d23503f70
                  public:
                    description: >-
                      A boolean indicating whether the project is available for public (anonymous) viewing.
                    type: boolean
                    examples:
                      - false
                  publicId:
                    description: >-
                      If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.
                    type:
                      - string
                      - 'null'
                    examples:
                      - 4bD
                  anonymousCanUpload:
                    type: boolean
                    examples:
                      - false
                  anonymousCanDownload:
                    type: boolean
                    examples:
                      - false
                required:
                  - id
                  - name
                  - mediaCount
                  - created
                  - updated
                  - hashedId
                  - public
                  - publicId
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Projects
      security:
        - BearerAuth: []
      x-speakeasy-name-override: copy
  /projects/{projectId}/subfolders:
    get:
      summary: Subfolder List
      description: >
        Use this endpoint to request a list of subfolders in a specific project. This request supports paging and sorting.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        Read all project and video data

        ```

      parameters:
        - name: projectId
          in: path
          description: The hashed ID of the project
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - name: page
          in: query
          description: Page number to retrieve
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          description: Number of subfolders per page
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 1
        - name: sort_by
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            default: position
            enum:
              - name
              - created
              - updated
              - position
              - id
        - name: sort_direction
          in: query
          description: Sort direction (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            default: 1
            enum:
              - 0
              - 1
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: A list of subfolders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: A subfolder within a project that contains media files.
                  properties:
                    hashed_id:
                      description: A unique alphanumeric identifier for this subfolder.
                      type: string
                      examples:
                        - abc123def4
                    name:
                      description: The display name of the subfolder.
                      type:
                        - string
                        - 'null'
                      examples:
                        - Marketing Videos
                    description:
                      description: A description for the subfolder.
                      type:
                        - string
                        - 'null'
                      examples:
                        - Collection of all marketing and promotional videos
                    position:
                      description: >-
                        The position of this subfolder within its project, used for ordering.
                      type:
                        - integer
                        - 'null'
                      examples:
                        - 1
                    created:
                      description: The date when the subfolder was created.
                      type:
                        - string
                        - 'null'
                      format: date-time
                      examples:
                        - '2024-01-15T10:30:00+00:00'
                    updated:
                      description: The date when the subfolder was last modified.
                      type:
                        - string
                        - 'null'
                      format: date-time
                      examples:
                        - '2024-01-20T14:45:00+00:00'
                  required:
                    - hashed_id
                    - position
                    - created
                    - updated
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID abc123def4 not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      x-speakeasy-name-override: list
    post:
      summary: Create Subfolder
      description: >
        Create a new subfolder within a project. The subfolder will be created with the next available position.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```

      parameters:
        - name: projectId
          in: path
          description: The hashed ID of the project
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        description: Subfolder data
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Input data for creating or updating a subfolder.
              properties:
                name:
                  description: The display name of the subfolder.
                  type: string
                  examples:
                    - Marketing Videos
                  maxLength: 255
                description:
                  description: A description for the subfolder.
                  type:
                    - string
                    - 'null'
                  examples:
                    - Collection of all marketing and promotional videos
                  maxLength: 1000
              required:
                - name
            example:
              name: Marketing Videos
              description: Collection of all marketing and promotional videos
      responses:
        '201':
          description: Subfolder created successfully
          content:
            application/json:
              schema:
                type: object
                description: A subfolder within a project that contains media files.
                properties:
                  hashed_id:
                    description: A unique alphanumeric identifier for this subfolder.
                    type: string
                    examples:
                      - abc123def4
                  name:
                    description: The display name of the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Marketing Videos
                  description:
                    description: A description for the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Collection of all marketing and promotional videos
                  position:
                    description: >-
                      The position of this subfolder within its project, used for ordering.
                    type:
                      - integer
                      - 'null'
                    examples:
                      - 1
                  created:
                    description: The date when the subfolder was created.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-15T10:30:00+00:00'
                  updated:
                    description: The date when the subfolder was last modified.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-20T14:45:00+00:00'
                required:
                  - hashed_id
                  - position
                  - created
                  - updated
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID abc123def4 not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      x-speakeasy-name-override: create
  /projects/{projectId}/subfolders/{subfolderId}:
    get:
      summary: Show Subfolder
      description: >
        Retrieve detailed information about a specific subfolder, including all media files contained within it.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        Read all project and video data

        ```

      parameters:
        - name: projectId
          in: path
          description: The hashed ID of the project
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - name: subfolderId
          in: path
          description: The hashed ID of the subfolder
          required: true
          schema:
            type: string
            examples:
              - xyz789ghi0
        - name: description_format
          in: query
          description: Format for media descriptions
          required: false
          schema:
            type: string
            examples:
              - markdown
            const: markdown
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Subfolder details with contained media
          content:
            application/json:
              schema:
                type: object
                description: A subfolder with its contained media files.
                allOf:
                  - type: object
                    description: A subfolder within a project that contains media files.
                    properties:
                      hashed_id:
                        description: A unique alphanumeric identifier for this subfolder.
                        type: string
                        examples:
                          - abc123def4
                      name:
                        description: The display name of the subfolder.
                        type:
                          - string
                          - 'null'
                        examples:
                          - Marketing Videos
                      description:
                        description: A description for the subfolder.
                        type:
                          - string
                          - 'null'
                        examples:
                          - Collection of all marketing and promotional videos
                      position:
                        description: >-
                          The position of this subfolder within its project, used for ordering.
                        type:
                          - integer
                          - 'null'
                        examples:
                          - 1
                      created:
                        description: The date when the subfolder was created.
                        type:
                          - string
                          - 'null'
                        format: date-time
                        examples:
                          - '2024-01-15T10:30:00+00:00'
                      updated:
                        description: The date when the subfolder was last modified.
                        type:
                          - string
                          - 'null'
                        format: date-time
                        examples:
                          - '2024-01-20T14:45:00+00:00'
                    required:
                      - hashed_id
                      - position
                      - created
                      - updated
                  - type: object
                    properties:
                      medias:
                        description: Array of media files contained in this subfolder.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: >-
                                A unique numeric identifier for the media within the system.
                              type: integer
                            name:
                              description: The display name of the media.
                              type: string
                            type:
                              description: >-
                                A string representing what type of media this is.
                              type: string
                              enum:
                                - Video
                                - Audio
                                - Image
                                - PdfDocument
                                - MicrosoftOfficeDocument
                                - Swf
                                - UnknownType
                            archived:
                              description: >-
                                Whether or not the media is archived, either true or false.
                              type: boolean
                            created:
                              description: The date when the media was originally uploaded.
                              type: string
                              format: date-time
                            updated:
                              description: The date when the media was last changed.
                              type: string
                              format: date-time
                            duration:
                              description: >-
                                Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                              oneOf:
                                - type: number
                                - type: 'null'
                            embedCode:
                              description: >
                                DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                              type: string
                              deprecated: true
                            hashed_id:
                              description: A unique alphanumeric identifier for this media.
                              type: string
                            description:
                              description: >-
                                A description for the media which usually appears near the top of the sidebar on the media's page.
                              type: string
                            progress:
                              description: >-
                                A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                              type: number
                              maximum: 1
                              minimum: 0
                            status:
                              description: >
                                Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                              type: string
                              enum:
                                - queued
                                - processing
                                - ready
                                - failed
                            section:
                              description: >-
                                The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                              oneOf:
                                - type: string
                                - type: 'null'
                            thumbnail:
                              type: object
                              properties:
                                url:
                                  type: string
                                width:
                                  type: integer
                                height:
                                  type: integer
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Project or subfolder not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Subfolder with ID xyz789ghi0 not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      x-speakeasy-name-override: get
    put:
      summary: Update Subfolder
      description: "Update a subfolder's name and/or description. \n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n"
      parameters:
        - name: projectId
          in: path
          description: The hashed ID of the project
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - name: subfolderId
          in: path
          description: The hashed ID of the subfolder
          required: true
          schema:
            type: string
            examples:
              - xyz789ghi0
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        description: Updated subfolder data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The new name for the subfolder
                  type: string
                  examples:
                    - Updated Marketing Videos
                  maxLength: 255
                description:
                  description: The new description for the subfolder
                  type:
                    - string
                    - 'null'
                  examples:
                    - Updated collection of marketing materials
                  maxLength: 1000
            example:
              name: Updated Marketing Videos
              description: Updated collection of marketing materials
      responses:
        '200':
          description: Subfolder updated successfully
          content:
            application/json:
              schema:
                type: object
                description: A subfolder within a project that contains media files.
                properties:
                  hashed_id:
                    description: A unique alphanumeric identifier for this subfolder.
                    type: string
                    examples:
                      - abc123def4
                  name:
                    description: The display name of the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Marketing Videos
                  description:
                    description: A description for the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Collection of all marketing and promotional videos
                  position:
                    description: >-
                      The position of this subfolder within its project, used for ordering.
                    type:
                      - integer
                      - 'null'
                    examples:
                      - 1
                  created:
                    description: The date when the subfolder was created.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-15T10:30:00+00:00'
                  updated:
                    description: The date when the subfolder was last modified.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-20T14:45:00+00:00'
                required:
                  - hashed_id
                  - position
                  - created
                  - updated
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Project or subfolder not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Subfolder with ID xyz789ghi0 not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      x-speakeasy-name-override: update
    delete:
      summary: Delete Subfolder
      description: >
        Delete a subfolder from a project. All media files in the subfolder will be moved to the project's root level.


        The subfolder is soft-deleted and may be recoverable through other means, but is no longer accessible via the API.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```

      parameters:
        - name: projectId
          in: path
          description: The hashed ID of the project
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - name: subfolderId
          in: path
          description: The hashed ID of the subfolder
          required: true
          schema:
            type: string
            examples:
              - xyz789ghi0
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Subfolder deleted successfully
          content:
            application/json:
              schema:
                type: object
                description: A subfolder within a project that contains media files.
                properties:
                  hashed_id:
                    description: A unique alphanumeric identifier for this subfolder.
                    type: string
                    examples:
                      - abc123def4
                  name:
                    description: The display name of the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Marketing Videos
                  description:
                    description: A description for the subfolder.
                    type:
                      - string
                      - 'null'
                    examples:
                      - Collection of all marketing and promotional videos
                  position:
                    description: >-
                      The position of this subfolder within its project, used for ordering.
                    type:
                      - integer
                      - 'null'
                    examples:
                      - 1
                  created:
                    description: The date when the subfolder was created.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-15T10:30:00+00:00'
                  updated:
                    description: The date when the subfolder was last modified.
                    type:
                      - string
                      - 'null'
                    format: date-time
                    examples:
                      - '2024-01-20T14:45:00+00:00'
                required:
                  - hashed_id
                  - position
                  - created
                  - updated
              example:
                id: 123
                hashed_id: xyz789ghi0
                name: Marketing Videos
                description: Collection of all marketing and promotional videos
                position: 1
                created: '2024-01-15T10:30:00+00:00'
                updated: '2024-01-20T14:45:00+00:00'
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Project or subfolder not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Subfolder with ID xyz789ghi0 not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      x-speakeasy-name-override: deleteSubfolder
  /projects/{projectId}/sharings:
    get:
      summary: Project Sharing List
      description: >
        A sharing is an object that links either a contact or a contact group to a project, including information about the contacts' permissions to that project.

        Retrieve a list of all sharings for a given project. Supports paging and sorting.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        ```

      parameters:
        - name: projectId
          in: path
          description: Project Hashed ID
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - name: page
          in: query
          description: Page number to retrieve
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of projects per page
          required: false
          schema:
            type: integer
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Successfully retrieved list of sharings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      examples:
                        - 14
                    isAdmin:
                      type: boolean
                      examples:
                        - true
                    canShare:
                      type: boolean
                      examples:
                        - true
                    canDownload:
                      type: boolean
                      examples:
                        - true
                    canUpload:
                      type: boolean
                      examples:
                        - true
                    share:
                      type: object
                      properties:
                        id:
                          type: integer
                          examples:
                            - 3
                        name:
                          type: string
                          examples:
                            - Jim
                        type:
                          type: string
                          examples:
                            - Contact
                        email:
                          type: string
                          format: email
                          examples:
                            - jim@wistia.com
                      required:
                        - id
                        - name
                        - type
                        - email
                    project:
                      type: object
                      properties:
                        id:
                          type: integer
                          examples:
                            - 13
                        name:
                          type: string
                          examples:
                            - My Project
                      required:
                        - id
                        - name
                  required:
                    - id
                    - isAdmin
                    - canShare
                    - canDownload
                    - canUpload
                    - share
                    - project
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Project Sharings
      security:
        - BearerAuth: []
      x-speakeasy-group: projectSharings
      x-speakeasy-name-override: list
    post:
      summary: Project Sharing Create
      description: >
        Create a new sharing object for a project by specifying the email of the person to share with and other optional parameters.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```

      parameters:
        - name: projectId
          in: path
          description: Hashed ID of the project to be shared
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sharing:
                  type: object
                  properties:
                    with:
                      description: >-
                        The email address of the person with whom you want to share the project.
                      type: string
                      format: email
                    requirePassword:
                      oneOf:
                        - type: string
                          description: >-
                            Default is "1". Set to "0" to allow access without a password.
                          enum:
                            - '0'
                            - '1'
                        - type: boolean
                          description: >-
                            A flag indicating whether or not a password is required.
                          examples:
                            - false
                    canShare:
                      oneOf:
                        - type: string
                          description: >-
                            Default is "0". Set to "1" to allow the user to share the project with others.
                          enum:
                            - '0'
                            - '1'
                        - type: boolean
                          description: >-
                            Whether the user is allowed to share the project with others.
                          examples:
                            - false
                    canDownload:
                      oneOf:
                        - type: string
                          description: >-
                            Default is "0". Set to "1" to allow the user to download files from the project.
                          enum:
                            - '0'
                            - '1'
                        - type: boolean
                          description: >-
                            Whether the user is allowed to download files from the project.
                          examples:
                            - false
                    canUpload:
                      oneOf:
                        - type: string
                          description: >-
                            Default is "0". Set to "1" to allow the user to upload files to the project.
                          enum:
                            - '0'
                            - '1'
                        - type: boolean
                          description: >-
                            Whether the user is allowed to upload files to the project.
                          examples:
                            - false
                    sendEmailNotification:
                      description: Deprecated! Email notifications are always sent now.
                      type: string
                      enum:
                        - '0'
                        - '1'
                      deprecated: true
                  required:
                    - with
              required:
                - sharing
      responses:
        '201':
          description: Project shared successfully
          headers:
            Location:
              description: The API endpoint for the new sharing object.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: >-
                  The response includes a link for the user to access the project.
                properties:
                  project:
                    type: string
                    format: uri
                    examples:
                      - http://myaccount.wistia.com/folders/13
                  sharing:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 14
                      isAdmin:
                        type: boolean
                        examples:
                          - true
                      canShare:
                        type: boolean
                        examples:
                          - true
                      canDownload:
                        type: boolean
                        examples:
                          - true
                      canUpload:
                        type: boolean
                        examples:
                          - true
                      share:
                        type: object
                        properties:
                          id:
                            type: integer
                            examples:
                              - 3
                          name:
                            type: string
                            examples:
                              - Jim
                          type:
                            type: string
                            examples:
                              - Contact
                          email:
                            type: string
                            format: email
                            examples:
                              - jim@wistia.com
                        required:
                          - id
                          - name
                          - type
                          - email
                      project:
                        type: object
                        properties:
                          id:
                            type: integer
                            examples:
                              - 13
                          name:
                            type: string
                            examples:
                              - My Project
                        required:
                          - id
                          - name
                    required:
                      - id
                      - isAdmin
                      - canShare
                      - canDownload
                      - canUpload
                      - share
                      - project
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Error message detailing the reason for the bad request.
                examples:
                  - - email@example.com is already shared on this project.
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Project Sharings
      security:
        - BearerAuth: []
      x-speakeasy-group: projectSharings
      x-speakeasy-name-override: create
  /projects/{projectId}/sharings/{sharingId}:
    get:
      summary: Project Sharing Show
      description: |
        Retrieve the details of a specific sharing object for a given project.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        Read all data
        ```
      parameters:
        - name: projectId
          in: path
          description: Hashed ID for the project for which you'd like to see sharings.
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - name: sharingId
          in: path
          description: The ID of the specific sharing object that you want to see.
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Successfully retrieved sharing details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 14
                  isAdmin:
                    type: boolean
                    examples:
                      - true
                  canShare:
                    type: boolean
                    examples:
                      - true
                  canDownload:
                    type: boolean
                    examples:
                      - true
                  canUpload:
                    type: boolean
                    examples:
                      - true
                  share:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 3
                      name:
                        type: string
                        examples:
                          - Jim
                      type:
                        type: string
                        examples:
                          - Contact
                      email:
                        type: string
                        format: email
                        examples:
                          - jim@wistia.com
                    required:
                      - id
                      - name
                      - type
                      - email
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 13
                      name:
                        type: string
                        examples:
                          - My Project
                    required:
                      - id
                      - name
                required:
                  - id
                  - isAdmin
                  - canShare
                  - canDownload
                  - canUpload
                  - share
                  - project
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Project Sharings
      security:
        - BearerAuth: []
      x-speakeasy-group: projectSharings
      x-speakeasy-name-override: get
    put:
      summary: Project Sharing Update
      description: |
        Update a sharing on a project.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      parameters:
        - name: projectId
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
        - name: sharingId
          in: path
          description: ID of the sharing to be updated
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sharing:
                  type: object
                  properties:
                    canShare:
                      description: >-
                        Allow the user or group to share the project with others.
                      type: boolean
                    canDownload:
                      description: >-
                        Allow the user or group to download media from the project.
                      type: boolean
                    canUpload:
                      description: Allow the user or group to upload media to the project.
                      type: boolean
                    isAdmin:
                      description: Give this user admin rights to the project.
                      type: boolean
      responses:
        '200':
          description: Sharing updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 14
                  isAdmin:
                    type: boolean
                    examples:
                      - true
                  canShare:
                    type: boolean
                    examples:
                      - true
                  canDownload:
                    type: boolean
                    examples:
                      - true
                  canUpload:
                    type: boolean
                    examples:
                      - true
                  share:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 3
                      name:
                        type: string
                        examples:
                          - Jim
                      type:
                        type: string
                        examples:
                          - Contact
                      email:
                        type: string
                        format: email
                        examples:
                          - jim@wistia.com
                    required:
                      - id
                      - name
                      - type
                      - email
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 13
                      name:
                        type: string
                        examples:
                          - My Project
                    required:
                      - id
                      - name
                required:
                  - id
                  - isAdmin
                  - canShare
                  - canDownload
                  - canUpload
                  - share
                  - project
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Project Sharings
      security:
        - BearerAuth: []
      x-speakeasy-group: projectSharings
      x-speakeasy-name-override: update
    delete:
      summary: Project Sharing Delete
      description: |
        Delete a sharing on a project.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      parameters:
        - name: projectId
          in: path
          description: Hashed ID of the project
          required: true
          schema:
            description: Hashed ID of the project (e.g., "4d23503f70")
            type: string
        - name: sharingId
          in: path
          description: ID of the sharing to be deleted
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/ApiVersionHeader"
      responses:
        '200':
          description: Sharing deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 14
                  isAdmin:
                    type: boolean
                    examples:
                      - true
                  canShare:
                    type: boolean
                    examples:
                      - true
                  canDownload:
                    type: boolean
                    examples:
                      - true
                  canUpload:
                    type: boolean
                    examples:
                      - true
                  share:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 3
                      name:
                        type: string
                        examples:
                          - Jim
                      type:
                        type: string
                        examples:
                          - Contact
                      email:
                        type: string
                        format: email
                        examples:
                          - jim@wistia.com
                    required:
                      - id
                      - name
                      - type
                      - email
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                          - 13
                      name:
                        type: string
                        examples:
                          - My Project
                    required:
                      - id
                      - name
                required:
                  - id
                  - isAdmin
                  - canShare
                  - canDownload
                  - canUpload
                  - share
                  - project
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Project with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      tags:
        - Project Sharings
      security:
        - BearerAuth: []
      x-speakeasy-group: projectSharings
      x-speakeasy-name-override: delete
  /medias:
    get:
      summary: Media List
      description: >
        Obtain a list of all the media in your account. For accounts with more than 100 media, you’ll want to page and sort the returned list.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        Read all data

        Read all project and video data

        ```

      parameters:
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: >-
            The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: >
            If `cursor` is set to 1 than cursor pagination is enabled and the

            first set of records are fetched up to the `per_page`. Cursor

            pagination will also be turned on if `cursor[before]` or `cursor[after]`

            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

            The cursor value of the last record can be used to fetch records after the current result set and

            the cursor of the first record can be used to fetch records before the result set.


            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the

            last fetch. For example, you cannot fetch using `sort_by` id and than pass that

            cursor value to a `sort_by` name.

          required: false
          schema:
            type: object
            properties:
              enabled:
                description: >
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                  values is ignored if `cursor[before]` or `cursor[after]` are set.

[...]
