openapi: "3.1.1"
info:
  title: "Data API"
  version: "2026.09.0"
  description: "Wistia Data API"
paths:
  /:
    servers:
      - url: "https://upload.wistia.com"
    post:
      summary: "Upload or Import Media"
      description: "Endpoint to upload media files from a local system or import from a web URL.\n\n- Use `multipart/form-data` with a `file` parameter to upload from local system\n- Use `application/x-www-form-urlencoded` with a `url` parameter to import from web URL\n"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: "#/components/schemas/CommonUploadProperties"
                - type: "object"
                  required:
                    - "url"
                  properties:
                    url:
                      description: "The publicly accessible web location of the media file to import."
                      type: "string"
                      format: "uri"
                      examples:
                        - "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                    low_priority:
                      description: "Inform the encoding service that this upload can be considered lower priority than others. This is especially useful for platform customers doing bulk uploads or migrations. Setting this to \"false\" has no effect."
                      type: "boolean"
                      examples:
                        - !!bool "true"
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/CommonUploadProperties"
                - type: "object"
                  required:
                    - "file"
                  properties:
                    file:
                      description: "The media file, multipart-form encoded into the request body."
                      type: "string"
                      format: "binary"
      responses:
        "200":
          description: "Successfully uploaded or imported."
          content:
            application/json:
              schema:
                description: "Response after successfully uploading or importing media"
                type: "object"
                properties:
                  id:
                    description: "A unique numeric identifier for the media within the system."
                    type: "integer"
                  name:
                    description: "The display name of the media."
                    type: "string"
                  type:
                    description: "A string representing what type of media this is."
                    type: "string"
                  created:
                    description: "The date when the media was originally uploaded."
                    type: "string"
                    format: "date-time"
                  updated:
                    description: "The date when the media was last changed."
                    type: "string"
                    format: "date-time"
                  duration:
                    description: "Specifies the length (in seconds) for audio and video files."
                    type: "number"
                  hashed_id:
                    description: "A unique alphanumeric identifier for this media."
                    type: "string"
                  progress:
                    description: "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                    type: "number"
                    maximum: !!int "1"
                    minimum: !!int "0"
                  thumbnail:
                    $ref: "#/components/schemas/Thumbnail"
        "400":
          description: "Error due to reaching the video limit of your account or other issues."
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "object"
                    properties:
                      code:
                        type: "string"
                      detail:
                        type: "string"
              examples:
                missing_credentials:
                  value:
                    code: "upload_failed"
                    detail: "'api_password' or 'access_token' are required"
        "401":
          description: "Authorization error. Check your access_token."
          content:
            text/html: {}
      tags:
        - "Upload or Import Media"
      security:
        - BearerAuth: []
  /review_bundles:
    get:
      summary: "List Review Bundles"
      description: "Lists review bundles belonging to an account. This endpoint can also be used to\ndo a batch fetch based off of the hashed id, or to find the bundles that include\na given media or any media from a folder.\n\n\n## Requires api token with one of the following permissions\n```\nRead all folder and media data\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\n"
      tags:
        - "Review Bundles"
      security:
        - BearerAuth: []
      parameters:
        - name: "hashed_ids[]"
          in: "query"
          description: "Restrict the results to the review bundles with these hashed IDs."
          required: false
          schema:
            type: "array"
            items:
              type: "string"
        - name: "name"
          in: "query"
          description: "Restrict the results to review bundles whose name contains this value (case-insensitive)."
          required: false
          schema:
            type: "string"
        - name: "media_hashed_id"
          in: "query"
          description: "Restrict the results to review bundles that include the media with this hashed ID."
          required: false
          schema:
            type: "string"
        - name: "folder_hashed_id"
          in: "query"
          description: "Restrict the results to review bundles that include any media from the folder with this hashed ID."
          required: false
          schema:
            type: "string"
        - name: "sort_by"
          in: "query"
          description: "Field to order by. The default is id."
          required: false
          schema:
            type: "string"
            enum:
              - "id"
              - "name"
              - "created"
              - "updated"
        - name: "sort_direction"
          in: "query"
          description: "Direction to order by. (0 = desc, 1 = asc; default is 1)"
          required: false
          schema:
            type: "integer"
            enum:
              - !!int "0"
              - !!int "1"
        - name: "page"
          in: "query"
          description: "The page number to retrieve. This cannot be combined with `cursor`,\npagination.\n"
          required: false
          schema:
            type: "integer"
        - name: "per_page"
          in: "query"
          description: "The number of medias per page. Use this for both offset pagination and cursor pagination."
          required: false
          schema:
            type: "integer"
        - name: "cursor"
          in: "query"
          description: "If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the\nfirst set of records are fetched up to the `per_page`. Cursor\npagination will also be turned on if `cursor[before]` or `cursor[after]`\nare set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.\nThe cursor value of the last record can be used to fetch records after the current result set and\nthe cursor of the first record can be used to fetch records before the result set.\n\nNOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the\nlast fetch. For example, you cannot fetch using `sort_by` id and then pass that\ncursor value to a `sort_by` name.\n"
          required: false
          style: "deepObject"
          schema:
            type: "object"
            unevaluatedProperties: false
            properties:
              enabled:
                type: "integer"
                enum:
                  - !!int "0"
                  - !!int "1"
                description: "If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This\nvalues is ignored if `cursor[before]` or `cursor[after]` are set.\n"
              before:
                type: "string"
                description: "If `cursor[before]` is set then cursor pagination is enabled and all records\nbefore the cursor up to the `per_page` are returned. This feature is useful for\nfetching \"new records\", for example, in a \"pull to refersh\" feature when showing records in a descending\norder.\n"
              after:
                type: "string"
                description: "If `cursor[after]` is set then cursor pagination is enabled and all records\nafter the cursor up to the `per_page` are returned.\n"
      responses:
        "200":
          description: "Review Bundles retrieval successful"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  unevaluatedProperties: false
                  properties:
                    hashed_id:
                      type: "string"
                      description: "A unique alphanumeric identifier for this review bundle."
                    name:
                      type: "string"
                      examples:
                        - "My Review Bundle Title"
                      description: "The bundle display name."
                    url:
                      type: "string"
                      examples:
                        - "https://[your-domain].wistia.com/reviews/bundles/1234567890"
                      description: "The URL of the bundle."
                    allow_downloads:
                      type: "boolean"
                      description: "Whether the videos in the bundle can be downloaded."
                    cursor:
                      type:
                        - "string"
                        - "null"
                      description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Bad request"
                    description: "Error message detailing the reason for the bad request."
                  errors:
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of error messages detailing the reasons for the bad request."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
    post:
      summary: "Create Review Bundle"
      description: "Creates a review bundle from a set of existing media, producing a single link\nthat can be shared for review. The media to include are specified by their hashed\nIDs and must already belong to the account. The media can come from any folder.\nReview Bundles are limited to 25 media.\n\n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\n"
      tags:
        - "Review Bundles"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              unevaluatedProperties: false
              properties:
                media_hashed_ids:
                  type: "array"
                  examples:
                    - "abc123"
                    - "abc124"
                  items:
                    type: "string"
                  description: "The hashed ids of the media to include in the bundle. Limited to 25 media."
                name:
                  type: "string"
                  examples:
                    - "My Review Bundle Title"
                  description: "The bundle display name."
                allow_downloads:
                  type: "boolean"
                  description: "Whether the videos in the bundle can be downloaded."
              required:
                - "media_hashed_ids"
                - "name"
      responses:
        "201":
          description: "Review Bundle created successfully."
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  hashed_id:
                    type: "string"
                    description: "A unique alphanumeric identifier for this review bundle."
                  name:
                    type: "string"
                    examples:
                      - "My Review Bundle Title"
                    description: "The bundle display name."
                  url:
                    type: "string"
                    examples:
                      - "https://[your-domain].wistia.com/reviews/bundles/1234567890"
                    description: "The URL of the bundle."
                  allow_downloads:
                    type: "boolean"
                    description: "Whether the videos in the bundle can be downloaded."
                  cursor:
                    type:
                      - "string"
                      - "null"
                    description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "422":
          description: "Unprocessable entity, the request parameters were invalid."
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    description: "A single error message describing what went wrong."
                  errors:
                    type: "array"
                    examples:
                      - - "Title is required"
                        - "Event duration must be at least 15 minutes"
                    items:
                      type: "string"
                    description: "Array of error messages describing what went wrong."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
  /review_bundles/{reviewBundleHashedId}:
    delete:
      summary: "Delete Review Bundle"
      description: "Permanently deletes a review bundle, identified by its hashed id. This removes\nthe bundle and its shared review link; the media it contained are not deleted.\nThis action cannot be undone.\n\n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\n"
      tags:
        - "Review Bundles"
      security:
        - BearerAuth: []
      parameters:
        - name: "reviewBundleHashedId"
          in: "path"
          description: "The hashed id of the review bundle."
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Review Bundle deleted successfully."
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  hashed_id:
                    type: "string"
                    description: "A unique alphanumeric identifier for this review bundle."
                  name:
                    type: "string"
                    examples:
                      - "My Review Bundle Title"
                    description: "The bundle display name."
                  url:
                    type: "string"
                    examples:
                      - "https://[your-domain].wistia.com/reviews/bundles/1234567890"
                    description: "The URL of the bundle."
                  allow_downloads:
                    type: "boolean"
                    description: "Whether the videos in the bundle can be downloaded."
                  cursor:
                    type:
                      - "string"
                      - "null"
                    description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Folder with ID 'fakeid' not found."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
  /deleted_media:
    get:
      summary: "List Deleted Media"
      description: "Lists media that has been soft-deleted and is still inside the account's\nrestore window. Media is listed only while it can still be restored — 30 days\non most plans, 14 on free plans. After which it is permanently purged.\n\n\n## Requires api token with one of the following permissions\n```\nRead all folder and media data\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\n"
      tags:
        - "Deleted Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "hashed_ids[]"
          in: "query"
          description: "Restrict the results to the deleted media with these hashed IDs."
          required: false
          schema:
            type: "array"
            items:
              type: "string"
        - name: "sort_by"
          in: "query"
          description: "Field to order by. When omitted, results are ordered most-recently-deleted first."
          required: false
          schema:
            type: "string"
            enum:
              - "id"
              - "deleted"
              - "name"
              - "type"
              - "created"
        - name: "sort_direction"
          in: "query"
          description: "Direction to order by. (0 = desc, 1 = asc; default is 1)"
          required: false
          schema:
            type: "integer"
            enum:
              - !!int "0"
              - !!int "1"
        - name: "page"
          in: "query"
          description: "The page number to retrieve. This cannot be combined with `cursor`,\npagination.\n"
          required: false
          schema:
            type: "integer"
        - name: "per_page"
          in: "query"
          description: "The number of medias per page. Use this for both offset pagination and cursor pagination."
          required: false
          schema:
            type: "integer"
        - name: "cursor"
          in: "query"
          description: "If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the\nfirst set of records are fetched up to the `per_page`. Cursor\npagination will also be turned on if `cursor[before]` or `cursor[after]`\nare set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.\nThe cursor value of the last record can be used to fetch records after the current result set and\nthe cursor of the first record can be used to fetch records before the result set.\n\nNOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the\nlast fetch. For example, you cannot fetch using `sort_by` id and then pass that\ncursor value to a `sort_by` name.\n"
          required: false
          style: "deepObject"
          schema:
            type: "object"
            unevaluatedProperties: false
            properties:
              enabled:
                type: "integer"
                enum:
                  - !!int "0"
                  - !!int "1"
                description: "If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This\nvalues is ignored if `cursor[before]` or `cursor[after]` are set.\n"
              before:
                type: "string"
                description: "If `cursor[before]` is set then cursor pagination is enabled and all records\nbefore the cursor up to the `per_page` are returned. This feature is useful for\nfetching \"new records\", for example, in a \"pull to refersh\" feature when showing records in a descending\norder.\n"
              after:
                type: "string"
                description: "If `cursor[after]` is set then cursor pagination is enabled and all records\nafter the cursor up to the `per_page` are returned.\n"
      responses:
        "200":
          description: "Deleted media retrieval successful"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  unevaluatedProperties: false
                  properties:
                    hashed_id:
                      type: "string"
                      description: "A unique alphanumeric identifier for this media."
                    name:
                      type: "string"
                      examples:
                        - "My deleted video"
                      description: "The media display name."
                    type:
                      type: "string"
                      examples:
                        - "Video"
                      description: "The type of media (e.g. Video, Audio)."
                    duration:
                      type:
                        - "number"
                        - "null"
                      description: "The length of the media in seconds."
                    deleted_at:
                      type: "string"
                      examples:
                        - "2026-06-20T18:47:39+00:00"
                      format: "date-time"
                      description: "When the media was deleted, in ISO 8601 format."
                    restore_expires_at:
                      type: "string"
                      examples:
                        - "2026-07-20T18:47:39+00:00"
                      format: "date-time"
                      description: "The deadline after which this media is permanently purged and can no longer be restored (deleted_at plus the account's restore window)."
                    folder:
                      type:
                        - "object"
                        - "null"
                      unevaluatedProperties: false
                      properties:
                        hashed_id:
                          type: "string"
                        name:
                          type:
                            - "string"
                            - "null"
                      description: "The folder the media will return to if restored without an explicit target. Null if the original folder was also deleted."
                    cursor:
                      type:
                        - "string"
                        - "null"
                      description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Bad request"
                    description: "Error message detailing the reason for the bad request."
                  errors:
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of error messages detailing the reasons for the bad request."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
  /deleted_media/restore:
    post:
      summary: "Restore Deleted Media"
      description: "Restores one or more soft-deleted media. By default each media returns to the\nfolder it was deleted from; pass folder_id to restore them into a specific\nfolder instead. Only media still inside the restore window can be recovered.\nThe restore runs asynchronously and the response includes a background job\nstatus.\n\n\n## Requires api token with one of the following permissions\n```\nUpload and view media\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\n"
      tags:
        - "Deleted Media"
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              unevaluatedProperties: false
              properties:
                media_hashed_ids:
                  type: "array"
                  examples:
                    - "abc123"
                    - "abc124"
                  items:
                    type: "string"
                  description: "The hashed ids of the soft-deleted media to restore. Up to 1000 at a time."
                folder_id:
                  type: "string"
                  examples:
                    - "folder123"
                  description: "Optional hashed id of the folder to restore the media into. If omitted, each media returns to the folder it was deleted from."
              required:
                - "media_hashed_ids"
        required: true
      responses:
        "202":
          description: "Restore request accepted and queued for processing."
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  message:
                    type: "string"
                    examples:
                      - "Restoring 3 media."
                  background_job_status:
                    type: "object"
                    unevaluatedProperties: false
                    properties:
                      id:
                        type: "integer"
                      hashed_id:
                        type: "string"
                      status:
                        type: "string"
                        examples:
                          - "queued"
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Bad request"
                    description: "Error message detailing the reason for the bad request."
                  errors:
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of error messages detailing the reasons for the bad request."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
  /medias:
    get:
      summary: "List Media"
      description: "Lists the media belonging to the account. This endpoint can also be used to\ndo a batch fetch based off of the hashed id.\n\n## Requires api token with one of the following permissions\n```\nRead all folder and media data\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n"
      tags:
        - "Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "page"
          in: "query"
          description: "The page number to retrieve. This cannot be combined with `cursor`,\npagination.\n"
          required: false
          schema:
            type: "integer"
        - name: "per_page"
          in: "query"
          description: "The number of medias per page. Use this for both offset pagination and cursor pagination."
          required: false
          schema:
            type: "integer"
        - name: "cursor"
          in: "query"
          description: "If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the\nfirst set of records are fetched up to the `per_page`. Cursor\npagination will also be turned on if `cursor[before]` or `cursor[after]`\nare set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.\nThe cursor value of the last record can be used to fetch records after the current result set and\nthe cursor of the first record can be used to fetch records before the result set.\n\nNOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the\nlast fetch. For example, you cannot fetch using `sort_by` id and then pass that\ncursor value to a `sort_by` name.\n"
          required: false
          style: "deepObject"
          schema:
            type: "object"
            unevaluatedProperties: false
            properties:
              enabled:
                type: "integer"
                enum:
                  - !!int "0"
                  - !!int "1"
                description: "If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This\nvalues is ignored if `cursor[before]` or `cursor[after]` are set.\n"
              before:
                type: "string"
                description: "If `cursor[before]` is set then cursor pagination is enabled and all records\nbefore the cursor up to the `per_page` are returned. This feature is useful for\nfetching \"new records\", for example, in a \"pull to refersh\" feature when showing records in a descending\norder.\n"
              after:
                type: "string"
                description: "If `cursor[after]` is set then cursor pagination is enabled and all records\nafter the cursor up to the `per_page` are returned.\n"
        - name: "sort_by"
          in: "query"
          description: "Ordering. When using cursor pagination (see cursor param),\nonly `id` and `created` are supported. All other sort_by options (`name`, `updated`, `position`)\nrequire offset pagination.\n"
          required: false
          schema:
            type: "string"
            enum:
              - "name"
              - "created"
              - "updated"
              - "position"
        - name: "sort_direction"
          in: "query"
          description: "Ordering Sort Direction (0 = desc, 1 = asc; default is 1)"
          required: false
          schema:
            type: "integer"
            enum:
              - !!int "0"
              - !!int "1"
        - name: "folder_id"
          in: "query"
          description: "A hashed ID specifying the folder from which you would like to get results."
          required: false
          schema:
            type: "string"
            description: "Hashed ID of the folder (e.g., \"4d23503f70\")"
        - name: "name"
          in: "query"
          description: "Find a media or medias whose name exactly matches this parameter."
          required: false
          schema:
            type: "string"
        - name: "description_format"
          in: "query"
          description: "Format for media descriptions"
          required: false
          schema:
            type: "string"
            examples:
              - "markdown"
            const: "markdown"
        - name: "include"
          in: "query"
          description: "Set to `speakers` to include active transcript speaker assignments used for diarization. Webinar hosts and panelists are not included."
          required: false
          schema:
            type: "string"
            enum:
              - "speakers"
        - name: "type"
          in: "query"
          description: "A string specifying which type of media you would like to get."
          required: false
          schema:
            type: "string"
            enum:
              - "Video"
              - "Audio"
              - "Image"
              - "PdfDocument"
              - "MicrosoftOfficeDocument"
              - "Swf"
              - "UnknownType"
        - name: "hashed_ids[]"
          in: "query"
          description: "Find all of the medias by these hashed_ids."
          required: false
          style: "form"
          explode: true
          schema:
            type: "array"
            items:
              type: "string"
        - name: "tags[]"
          in: "query"
          description: "Find all of the medias that match all of these tag names."
          required: false
          schema:
            type: "array"
            items:
              type: "string"
        - name: "archived"
          in: "query"
          description: "Filter by archived status. True will return only archived medias, while false will return only active medias."
          required: false
          schema:
            type: "boolean"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  allOf:
                    - type: "object"
                      properties:
                        id:
                          type: "integer"
                          description: "A unique numeric identifier for the media within the system."
                        name:
                          type: "string"
                          description: "The display name of the media."
                        type:
                          type: "string"
                          enum:
                            - "Video"
                            - "Audio"
                            - "Image"
                            - "PdfDocument"
                            - "MicrosoftOfficeDocument"
                            - "Swf"
                            - "UnknownType"
                          description: "A string representing what type of media this is."
                        archived:
                          type: "boolean"
                          description: "Whether or not the media is archived, either true or false."
                        created:
                          type: "string"
                          format: "date-time"
                          description: "The date when the media was originally uploaded."
                        updated:
                          type: "string"
                          format: "date-time"
                          description: "The date when the media was last changed."
                        duration:
                          oneOf:
                            - type: "number"
                            - type: "null"
                          unevaluatedProperties: false
                          description: "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                        embedCode:
                          type: "string"
                          description: "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                          deprecated: true
                        hashed_id:
                          type: "string"
                          description: "A unique alphanumeric identifier for this media."
                        description:
                          type: "string"
                          description: "A description for the media which usually appears near the top of the sidebar on the media's page."
                        progress:
                          type: "number"
                          maximum: 1
                          minimum: 0
                          description: "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                        status:
                          type: "string"
                          enum:
                            - "queued"
                            - "processing"
                            - "ready"
                            - "failed"
                          description: "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                        section:
                          oneOf:
                            - type: "string"
                            - type: "null"
                          unevaluatedProperties: false
                          description: "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                        thumbnail:
                          type: "object"
                          unevaluatedProperties: false
                          properties:
                            url:
                              type: "string"
                            width:
                              type: "integer"
                            height:
                              type: "integer"
                        protected:
                          type:
                            - "boolean"
                            - "null"
                          description: "Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected."
                      description: "A media generally represents a video or an audio which can be embedded into your website.\n\nCDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.\nFor more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.\n"
                    - type: "object"
                      properties:
                        folder:
                          oneOf:
                            - type: "object"
                              unevaluatedProperties: false
                              properties:
                                id:
                                  type: "integer"
                                  examples:
                                    - !!int "22570"
                                  description: "A unique numeric identifier for the folder within the system."
                                name:
                                  type: "string"
                                  examples:
                                    - "My Folder Title"
                                  description: "The folder’s display name."
                                hashed_id:
                                  type: "string"
                                  examples:
                                    - "4d23503f70"
                                  description: "A private hashed id, uniquely identifying the folder within the system."
                            - type: "null"
                          unevaluatedProperties: false
                      required:
                        - "folder"
                    - type: "object"
                      properties:
                        assets:
                          type: "array"
                          items:
                            type: "object"
                            unevaluatedProperties: false
                            properties:
                              url:
                                type: "string"
                                description: "A direct-access URL to the content of the asset."
                              width:
                                oneOf:
                                  - type: "integer"
                                  - type: "null"
                                unevaluatedProperties: false
                                description: "The width of this specific asset, if applicable."
                              height:
                                oneOf:
                                  - type: "integer"
                                  - type: "null"
                                unevaluatedProperties: false
                                description: "The height of this specific asset, if applicable."
                              file_size:
                                oneOf:
                                  - type: "integer"
                                  - type: "null"
                                unevaluatedProperties: false
                                description: "The size of the asset file that’s referenced by url, measured in bytes."
                              content_type:
                                oneOf:
                                  - type: "string"
                                  - type: "null"
                                unevaluatedProperties: false
                                description: "The asset’s content type."
                              type:
                                type: "string"
                                description: "The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.\n"
                          description: "An array of the assets available for this media."
                    - type: "object"
                      properties:
                        subfolder:
                          allOf:
                            - type: "object"
                              properties:
                                hashed_id:
                                  type:
                                    - "string"
                                    - "null"
                                  examples:
                                    - "abc123def4"
                                  description: "A unique alphanumeric identifier for this subfolder."
                                name:
                                  type:
                                    - "string"
                                    - "null"
                                  examples:
                                    - "Marketing Videos"
                                  description: "The display name of the subfolder."
                                description:
                                  type:
                                    - "string"
                                    - "null"
                                  examples:
                                    - "Collection of all marketing and promotional videos"
                                  description: "A description for the subfolder."
                                position:
                                  type:
                                    - "integer"
                                    - "null"
                                  examples:
                                    - !!int "1"
                                  description: "The position of this subfolder within its folder, used for ordering."
                                created:
                                  type:
                                    - "string"
                                    - "null"
                                  examples:
                                    - "2024-01-15T10:30:00+00:00"
                                  format: "date-time"
                                  description: "The date when the subfolder was created."
                                updated:
                                  type:
                                    - "string"
                                    - "null"
                                  examples:
                                    - "2024-01-20T14:45:00+00:00"
                                  format: "date-time"
                                  description: "The date when the subfolder was last modified."
                                cursor:
                                  type:
                                    - "string"
                                    - "null"
                                  description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                              required:
                                - "hashed_id"
                                - "position"
                                - "created"
                                - "updated"
                              description: "A subfolder within a folder that contains media."
                          unevaluatedProperties: false
                          description: "The subfolder (media group) in which the media appears. Null if the media is not in a subfolder."
                    - type: "object"
                      properties:
                        tags:
                          type: "array"
                          items:
                            type: "object"
                            unevaluatedProperties: false
                            properties:
                              name:
                                type: "string"
                                description: "The display name of the tag."
                          description: "Tags associated with this media."
                    - type: "object"
                      properties:
                        speakers:
                          type: "array"
                          items:
                            type: "object"
                            unevaluatedProperties: false
                            properties:
                              media_speaker_id:
                                type: "string"
                                description: "The unique identifier for this transcript speaker assignment on the media."
                              speaker_profile_id:
                                type: "string"
                                description: "The reusable account speaker profile assigned to the transcript speaker."
                              name:
                                type: "string"
                                description: "The assigned speaker profile's display name."
                            required:
                              - "media_speaker_id"
                              - "speaker_profile_id"
                              - "name"
                          description: "Active transcript speaker assignments used for diarization. Webinar hosts and panelists are not included. Present when `include=speakers` is requested."
                    - type: "object"
                      properties:
                        cursor:
                          type:
                            - "string"
                            - "null"
                          description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                  unevaluatedProperties: false
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Bad request"
                    description: "Error message detailing the reason for the bad request."
                  errors:
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of error messages detailing the reasons for the bad request."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
      x-speakeasy-group: "media"
      x-speakeasy-name-override: "list"
  /medias/{mediaHashedId}:
    get:
      summary: "Show Media"
      description: "Fetches a single media by its hashed id.\n\n## Requires api token with one of the following permissions\n```\nRead all folder and media data\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\nAn [expiring access token](https://docs.wistia.com/reference/post_expiring-token)\ncreated with the `all:delegate_to_contact_permissions` scope and an\nauthorization for this media can also be used; any permission granted on a\nmedia allows showing it.\n"
      tags:
        - "Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "mediaHashedId"
          in: "path"
          description: "The hashed ID of the media."
          required: true
          schema:
            type: "string"
            description: "Hashed ID of the media (e.g., \"4d23503f70\")"
        - name: "description_format"
          in: "query"
          description: "Format for media descriptions"
          required: false
          schema:
            type: "string"
            examples:
              - "markdown"
            const: "markdown"
        - name: "include"
          in: "query"
          description: "Set to `speakers` to include active transcript speaker assignments used for diarization. Webinar hosts and panelists are not included."
          required: false
          schema:
            type: "string"
            enum:
              - "speakers"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                allOf:
                  - type: "object"
                    properties:
                      id:
                        type: "integer"
                        description: "A unique numeric identifier for the media within the system."
                      name:
                        type: "string"
                        description: "The display name of the media."
                      type:
                        type: "string"
                        enum:
                          - "Video"
                          - "Audio"
                          - "Image"
                          - "PdfDocument"
                          - "MicrosoftOfficeDocument"
                          - "Swf"
                          - "UnknownType"
                        description: "A string representing what type of media this is."
                      archived:
                        type: "boolean"
                        description: "Whether or not the media is archived, either true or false."
                      created:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was originally uploaded."
                      updated:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was last changed."
                      duration:
                        oneOf:
                          - type: "number"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                      embedCode:
                        type: "string"
                        description: "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                        deprecated: true
                      hashed_id:
                        type: "string"
                        description: "A unique alphanumeric identifier for this media."
                      description:
                        type: "string"
                        description: "A description for the media which usually appears near the top of the sidebar on the media's page."
                      progress:
                        type: "number"
                        maximum: 1
                        minimum: 0
                        description: "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                      status:
                        type: "string"
                        enum:
                          - "queued"
                          - "processing"
                          - "ready"
                          - "failed"
                        description: "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                      section:
                        oneOf:
                          - type: "string"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                      thumbnail:
                        type: "object"
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: "string"
                          width:
                            type: "integer"
                          height:
                            type: "integer"
                      protected:
                        type:
                          - "boolean"
                          - "null"
                        description: "Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected."
                    description: "A media generally represents a video or an audio which can be embedded into your website.\n\nCDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.\nFor more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.\n"
                  - type: "object"
                    properties:
                      folder:
                        oneOf:
                          - type: "object"
                            unevaluatedProperties: false
                            properties:
                              id:
                                type: "integer"
                                examples:
                                  - !!int "22570"
                                description: "A unique numeric identifier for the folder within the system."
                              name:
                                type: "string"
                                examples:
                                  - "My Folder Title"
                                description: "The folder’s display name."
                              hashed_id:
                                type: "string"
                                examples:
                                  - "4d23503f70"
                                description: "A private hashed id, uniquely identifying the folder within the system."
                          - type: "null"
                        unevaluatedProperties: false
                    required:
                      - "folder"
                  - type: "object"
                    properties:
                      assets:
                        type: "array"
                        items:
                          type: "object"
                          unevaluatedProperties: false
                          properties:
                            url:
                              type: "string"
                              description: "A direct-access URL to the content of the asset."
                            width:
                              oneOf:
                                - type: "integer"
                                - type: "null"
                              unevaluatedProperties: false
                              description: "The width of this specific asset, if applicable."
                            height:
                              oneOf:
                                - type: "integer"
                                - type: "null"
                              unevaluatedProperties: false
                              description: "The height of this specific asset, if applicable."
                            file_size:
                              oneOf:
                                - type: "integer"
                                - type: "null"
                              unevaluatedProperties: false
                              description: "The size of the asset file that’s referenced by url, measured in bytes."
                            content_type:
                              oneOf:
                                - type: "string"
                                - type: "null"
                              unevaluatedProperties: false
                              description: "The asset’s content type."
                            type:
                              type: "string"
                              description: "The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.\n"
                        description: "An array of the assets available for this media."
                  - type: "object"
                    properties:
                      subfolder:
                        allOf:
                          - type: "object"
                            properties:
                              hashed_id:
                                type:
                                  - "string"
                                  - "null"
                                examples:
                                  - "abc123def4"
                                description: "A unique alphanumeric identifier for this subfolder."
                              name:
                                type:
                                  - "string"
                                  - "null"
                                examples:
                                  - "Marketing Videos"
                                description: "The display name of the subfolder."
                              description:
                                type:
                                  - "string"
                                  - "null"
                                examples:
                                  - "Collection of all marketing and promotional videos"
                                description: "A description for the subfolder."
                              position:
                                type:
                                  - "integer"
                                  - "null"
                                examples:
                                  - !!int "1"
                                description: "The position of this subfolder within its folder, used for ordering."
                              created:
                                type:
                                  - "string"
                                  - "null"
                                examples:
                                  - "2024-01-15T10:30:00+00:00"
                                format: "date-time"
                                description: "The date when the subfolder was created."
                              updated:
                                type:
                                  - "string"
                                  - "null"
                                examples:
                                  - "2024-01-20T14:45:00+00:00"
                                format: "date-time"
                                description: "The date when the subfolder was last modified."
                              cursor:
                                type:
                                  - "string"
                                  - "null"
                                description: "A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`."
                            required:
                              - "hashed_id"
                              - "position"
                              - "created"
                              - "updated"
                            description: "A subfolder within a folder that contains media."
                        unevaluatedProperties: false
                        description: "The subfolder (media group) in which the media appears. Null if the media is not in a subfolder."
                  - type: "object"
                    properties:
                      tags:
                        type: "array"
                        items:
                          type: "object"
                          unevaluatedProperties: false
                          properties:
                            name:
                              type: "string"
                              description: "The display name of the tag."
                        description: "Tags associated with this media."
                  - type: "object"
                    properties:
                      speakers:
                        type: "array"
                        items:
                          type: "object"
                          unevaluatedProperties: false
                          properties:
                            media_speaker_id:
                              type: "string"
                              description: "The unique identifier for this transcript speaker assignment on the media."
                            speaker_profile_id:
                              type: "string"
                              description: "The reusable account speaker profile assigned to the transcript speaker."
                            name:
                              type: "string"
                              description: "The assigned speaker profile's display name."
                          required:
                            - "media_speaker_id"
                            - "speaker_profile_id"
                            - "name"
                        description: "Active transcript speaker assignments used for diarization. Webinar hosts and panelists are not included. Present when `include=speakers` is requested."
                unevaluatedProperties: false
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Folder with ID 'fakeid' not found."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
      x-speakeasy-group: "media"
      x-speakeasy-name-override: "get"
    put:
      summary: "Update Media"
      description: "Updates the attributes on a media.\n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\nAn [expiring access token](https://docs.wistia.com/reference/post_expiring-token)\ncreated with the `all:delegate_to_contact_permissions` scope and an\nauthorization granting the `update` permission on this media can also be\nused.\n"
      tags:
        - "Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "mediaHashedId"
          in: "path"
          description: "The hashed ID of the media."
          required: true
          schema:
            type: "string"
            description: "Hashed ID of the media (e.g., \"4d23503f70\")"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              unevaluatedProperties: false
              properties:
                name:
                  type: "string"
                  description: "The media’s new name."
                new_still_media_id:
                  type: "string"
                  description: "The Wistia hashed ID of an image that will replace the still that’s displayed before the player starts playing.\n"
                description:
                  type: "string"
                  description: "A new description for this media. Accepts plain text or markdown."
                tags:
                  type: "array"
                  items:
                    type: "string"
                  description: "An array of tag names to apply to the media. This replaces any existing tags. To add tags without replacing existing tags, use bulk-tag-media."
                custom_metadata:
                  type: "object"
                  unevaluatedProperties: false
                  additionalProperties: true
                  description: "Custom metadata field values to set, keyed by field key. Values take the\nsame shapes as the Set Custom Metadata Field Value endpoint; a null value\nclears that field and omitted fields are untouched. Requires the custom\nmetadata feature on the account.\n"
        required: false
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                allOf:
                  - type: "object"
                    properties:
                      id:
                        type: "integer"
                        description: "A unique numeric identifier for the media within the system."
                      name:
                        type: "string"
                        description: "The display name of the media."
                      type:
                        type: "string"
                        enum:
                          - "Video"
                          - "Audio"
                          - "Image"
                          - "PdfDocument"
                          - "MicrosoftOfficeDocument"
                          - "Swf"
                          - "UnknownType"
                        description: "A string representing what type of media this is."
                      archived:
                        type: "boolean"
                        description: "Whether or not the media is archived, either true or false."
                      created:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was originally uploaded."
                      updated:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was last changed."
                      duration:
                        oneOf:
                          - type: "number"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                      embedCode:
                        type: "string"
                        description: "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                        deprecated: true
                      hashed_id:
                        type: "string"
                        description: "A unique alphanumeric identifier for this media."
                      description:
                        type: "string"
                        description: "A description for the media which usually appears near the top of the sidebar on the media's page."
                      progress:
                        type: "number"
                        maximum: 1
                        minimum: 0
                        description: "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                      status:
                        type: "string"
                        enum:
                          - "queued"
                          - "processing"
                          - "ready"
                          - "failed"
                        description: "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                      section:
                        oneOf:
                          - type: "string"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                      thumbnail:
                        type: "object"
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: "string"
                          width:
                            type: "integer"
                          height:
                            type: "integer"
                      protected:
                        type:
                          - "boolean"
                          - "null"
                        description: "Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected."
                    description: "A media generally represents a video or an audio which can be embedded into your website.\n\nCDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.\nFor more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.\n"
                  - type: "object"
                    properties:
                      tags:
                        type: "array"
                        items:
                          type: "object"
                          unevaluatedProperties: false
                          properties:
                            name:
                              type: "string"
                              description: "The display name of the tag."
                        description: "Tags associated with this media."
                unevaluatedProperties: false
        "400":
          description: "Bad request"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Bad request"
                    description: "Error message detailing the reason for the bad request."
                  errors:
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of error messages detailing the reasons for the bad request."
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Folder with ID 'fakeid' not found."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
      x-speakeasy-group: "media"
      x-speakeasy-name-override: "update"
    delete:
      summary: "Delete Media"
      description: "Deletes a media. Deleted media moves to the account's Recently Deleted area,\nwhere it can be restored until the account's restore window ends, after which\nit is permanently purged.\n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n\nAn [expiring access token](https://docs.wistia.com/reference/post_expiring-token)\ncreated with the `all:delegate_to_contact_permissions` scope and an\nauthorization granting the `destroy` permission on this media can also be\nused.\n"
      tags:
        - "Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "mediaHashedId"
          in: "path"
          description: "The hashed ID of the media."
          required: true
          schema:
            type: "string"
            description: "Hashed ID of the media (e.g., \"4d23503f70\")"
      responses:
        "200":
          description: "Successful deletion of the media."
          content:
            application/json:
              schema:
                allOf:
                  - type: "object"
                    properties:
                      id:
                        type: "integer"
                        description: "A unique numeric identifier for the media within the system."
                      name:
                        type: "string"
                        description: "The display name of the media."
                      type:
                        type: "string"
                        enum:
                          - "Video"
                          - "Audio"
                          - "Image"
                          - "PdfDocument"
                          - "MicrosoftOfficeDocument"
                          - "Swf"
                          - "UnknownType"
                        description: "A string representing what type of media this is."
                      archived:
                        type: "boolean"
                        description: "Whether or not the media is archived, either true or false."
                      created:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was originally uploaded."
                      updated:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was last changed."
                      duration:
                        oneOf:
                          - type: "number"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                      embedCode:
                        type: "string"
                        description: "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                        deprecated: true
                      hashed_id:
                        type: "string"
                        description: "A unique alphanumeric identifier for this media."
                      description:
                        type: "string"
                        description: "A description for the media which usually appears near the top of the sidebar on the media's page."
                      progress:
                        type: "number"
                        maximum: 1
                        minimum: 0
                        description: "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                      status:
                        type: "string"
                        enum:
                          - "queued"
                          - "processing"
                          - "ready"
                          - "failed"
                        description: "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                      section:
                        oneOf:
                          - type: "string"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                      thumbnail:
                        type: "object"
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: "string"
                          width:
                            type: "integer"
                          height:
                            type: "integer"
                      protected:
                        type:
                          - "boolean"
                          - "null"
                        description: "Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected."
                    description: "A media generally represents a video or an audio which can be embedded into your website.\n\nCDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.\nFor more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.\n"
                unevaluatedProperties: false
        "401":
          description: "Unauthorized, invalid or missing token"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  code:
                    type: "string"
                    enum:
                      - "unauthorized_credentials"
                      - "account_inactive"
                      - "unauthorized_scope"
                      - "unauthorized_params"
                    description: "A machine-readable identifier for the specific authorization failure."
                  error:
                    type: "string"
                    examples:
                      - "Invalid credentials."
        "403":
          description: "Forbidden, token is valid but account does not have access to feature"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Webinars are not available on your current plan"
        "404":
          description: "Resource not found"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Folder with ID 'fakeid' not found."
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: "object"
                unevaluatedProperties: false
                properties:
                  error:
                    type: "string"
                    examples:
                      - "Internal server error"
      x-speakeasy-group: "media"
      x-speakeasy-name-override: "delete"
  /medias/{mediaHashedId}/copy:
    post:
      summary: "Copy Media"
      description: "This endpoint copies a media and its assets to a destination folder (defaults to source media).\n\n## Requires api token with one of the following permissions\n```\nRead, update & delete anything\n```\n\nTokens with the \"Act with a team member's permissions\" permission\n(`all:delegate_to_contact_permissions` scope) can also be used. Requests\nmade with such a token are authorized using the permissions of the\ncontact assigned to the token.\n"
      tags:
        - "Media"
      security:
        - BearerAuth: []
      parameters:
        - name: "mediaHashedId"
          in: "path"
          description: "The hashed ID of the media."
          required: true
          schema:
            type: "string"
            description: "Hashed ID of the media (e.g., \"4d23503f70\")"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              unevaluatedProperties: false
              properties:
                folder_id:
                  type: "integer"
                  description: "The ID of the folder where you want the new copy placed. Defaults to the source media’s current folder if omitted or invalid."
                owner:
                  type: "string"
                  format: "email"
                  description: "An email address specifying the owner of the new media. Defaults to the source media’s current owner if omitted or invalid."
      responses:
        "201":
          description: "Successful creation of the media copy."
          headers:
            Location:
              description: "The URL where the newly created media resource resides."
              schema:
                type: "string"
                format: "uri"
          content:
            application/json:
              schema:
                allOf:
                  - type: "object"
                    properties:
                      id:
                        type: "integer"
                        description: "A unique numeric identifier for the media within the system."
                      name:
                        type: "string"
                        description: "The display name of the media."
                      type:
                        type: "string"
                        enum:
                          - "Video"
                          - "Audio"
                          - "Image"
                          - "PdfDocument"
                          - "MicrosoftOfficeDocument"
                          - "Swf"
                          - "UnknownType"
                        description: "A string representing what type of media this is."
                      archived:
                        type: "boolean"
                        description: "Whether or not the media is archived, either true or false."
                      created:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was originally uploaded."
                      updated:
                        type: "string"
                        format: "date-time"
                        description: "The date when the media was last changed."
                      duration:
                        oneOf:
                          - type: "number"
                          - type: "null"
                        unevaluatedProperties: false
                        description: "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                      embedCode:
                        type: "string"
                        description: "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                        deprecated: true
                      hashed_id:
                        type: "string"
                        description: "A unique alphanumeric identifier for this media."
                      description:
                        type: "string"
                        description: "A description for the media which usually appears near the top of the sidebar on the media's page."
                      progress:
                        type: "number"
                        maximum: 1
                        minimum: 0
[...]
