openapi: 3.1.1
info:
  title: Data API
  version: 2026.03.0
  description: Wistia Data API
paths:
  /:
    post:
      summary: Upload or Import Media
      description: |
        Endpoint to upload media files from a local system or import from a web URL.

        - Use `multipart/form-data` with a `file` parameter to upload from local system
        - Use `application/x-www-form-urlencoded` with a `url` parameter to import from web URL
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - url
                  properties:
                    url:
                      description: The publicly accessible web location of the media file to import.
                      type: string
                      format: uri
                      examples:
                        - http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4
                    low_priority:
                      description: Inform the encoding service that this upload can be considered lower priority than others. This is especially useful for platform customers doing bulk uploads or migrations. Setting this to "false" has no effect.
                      type: boolean
                      examples:
                        - true
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - file
                  properties:
                    file:
                      description: The media file, multipart-form encoded into the request body.
                      type: string
                      format: binary
      responses:
        '200':
          description: Successfully uploaded or imported.
          content:
            application/json:
              schema:
                description: Response after successfully uploading or importing media
                type: object
                properties:
                  id:
                    description: A unique numeric identifier for the media within the system.
                    type: integer
                  name:
                    description: The display name of the media.
                    type: string
                  type:
                    description: A string representing what type of media this is.
                    type: string
                  created:
                    description: The date when the media was originally uploaded.
                    type: string
                    format: date-time
                  updated:
                    description: The date when the media was last changed.
                    type: string
                    format: date-time
                  duration:
                    description: Specifies the length (in seconds) for audio and video files.
                    type: number
                  hashed_id:
                    description: A unique alphanumeric identifier for this media.
                    type: string
                  progress:
                    description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                    type: number
                    maximum: 1
                    minimum: 0
                  thumbnail:
                    $ref: '#/components/schemas/Thumbnail'
        '400':
          description: Error due to reaching the video limit of your account or other issues.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      detail:
                        type: string
              examples:
                missing_credentials:
                  value:
                    code: upload_failed
                    detail: '''api_password'' or ''access_token'' are required'
        '401':
          description: Authorization error. Check your access_token.
          content:
            text/html: {}
      tags:
        - Upload or Import Media
      security:
        - BearerAuth: []
    servers:
      - url: https://upload.wistia.com
  /media_extended_audio_descriptions:
    get:
      summary: List Media Extended Audio Descriptions
      description: |
        Lists all extended audio descriptions belonging to the account. Supports pagination and sorting.
      tags:
        - Media Extended Audio Descriptions
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: |
            If `cursor[enabled]` is set to 1 than cursor pagination is enabled and the
            first set of records are fetched up to the `per_page`. Cursor
            pagination will also be turned on if `cursor[before]` or `cursor[after]`
            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.
            The cursor value of the last record can be used to fetch records after the current result set and
            the cursor of the first record can be used to fetch records before the result set.

            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the
            last fetch. For example, you cannot fetch using `sort_by` id and than pass that
            cursor value to a `sort_by` name.
          required: false
          style: deepObject
          schema:
            type: object
            properties:
              enabled:
                type: integer
                enum:
                  - 0
                  - 1
                description: |
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This
                  values is ignored if `cursor[before]` or `cursor[after]` are set.
              before:
                type: string
                description: |
                  If `cursor[before]` is set than cursor pagination is enabled and all records
                  before the cursor up to the `per_page` are returned. This feature is useful for
                  fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending
                  order.
              after:
                type: string
                description: |
                  If `cursor[after]` is set than cursor pagination is enabled and all records
                  after the cursor up to the `per_page` are returned.
        - name: hashed_ids[]
          in: query
          description: Filter extended audio descriptions to only those matching these hashed ids.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: sort_by
          in: query
          description: Field to order by. The default is id.
          required: false
          schema:
            type: string
            enum:
              - id
        - name: sort_direction
          in: query
          description: Direction to order by. (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
      responses:
        "200":
          description: Media Extended Audio Descriptions retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    ietf_language_tag:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
                    media:
                      type: object
                      properties:
                        id:
                          type: string
                          description: A unique alphanumeric identifier for the record.
                        index_url:
                          type: string
                          description: |
                            A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                            to do a batch fetch for this records type.
                        url:
                          type: string
                          description: A URL that can be used to fetch this record.
                      required:
                        - id
                        - index_url
                        - url
                    provided_media_file:
                      type: object
                      properties:
                        id:
                          type: string
                          description: A unique alphanumeric identifier for the record.
                        index_url:
                          type: string
                          description: |
                            A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                            to do a batch fetch for this records type.
                        url:
                          type: string
                          description: A URL that can be used to fetch this record.
                      required:
                        - id
                        - index_url
                        - url
                    contact:
                      type: object
                      properties:
                        id:
                          type: string
                          description: A unique alphanumeric identifier for the record.
                        index_url:
                          type: string
                          description: |
                            A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                            to do a batch fetch for this records type.
                        url:
                          type: string
                          description: A URL that can be used to fetch this record.
                      required:
                        - id
                        - index_url
                        - url
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: get-media-extended-audio-descriptions
      x-wistia-mcp-description: >
        Lists all extended audio descriptions belonging to the account. Supports pagination and sorting.

  /media_extended_audio_descriptions/{id}:
    get:
      summary: Show Media Extended Audio Description
      description: |
        Retrieves a single extended audio description by its hashed id, including download links.
      tags:
        - Media Extended Audio Descriptions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: The hashed id of the Media Extended Audio Description
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Media Extended Audio Description fetched successful
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      ietf_language_tag:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      media:
                        type: object
                        properties:
                          id:
                            type: string
                            description: A unique alphanumeric identifier for the record.
                          index_url:
                            type: string
                            description: |
                              A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                              to do a batch fetch for this records type.
                          url:
                            type: string
                            description: A URL that can be used to fetch this record.
                        required:
                          - id
                          - index_url
                          - url
                      provided_media_file:
                        type: object
                        properties:
                          id:
                            type: string
                            description: A unique alphanumeric identifier for the record.
                          index_url:
                            type: string
                            description: |
                              A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                              to do a batch fetch for this records type.
                          url:
                            type: string
                            description: A URL that can be used to fetch this record.
                        required:
                          - id
                          - index_url
                          - url
                      contact:
                        type: object
                        properties:
                          id:
                            type: string
                            description: A unique alphanumeric identifier for the record.
                          index_url:
                            type: string
                            description: |
                              A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                              to do a batch fetch for this records type.
                          url:
                            type: string
                            description: A URL that can be used to fetch this record.
                        required:
                          - id
                          - index_url
                          - url
                  - type: object
                    properties:
                      assets:
                        type: object
                        properties:
                          mp3_url:
                            type:
                              - string
                              - "null"
                            description: URL to download the MP3 audio file.
                          webvtt:
                            type:
                              - string
                              - "null"
                            description: |
                              The WebVTT file contents with cue timings relative to the original video. Start and
                              end times show when the text is relative to the scene
                          webvtt_extended:
                            type:
                              - string
                              - "null"
                            description: |
                              The extended WebVTT file contents with timings that include pause durations. Start and
                              end times correspond to when an audio description starts and ends. During this time
                              the video will be paused.
                        required:
                          - mp3_url
                          - webvtt
                          - webvtt_extended
                        description: Download links for the audio description files.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: show-media-extended-audio-description
      x-wistia-mcp-description: >
        Retrieves a single extended audio description by its hashed id, including download links.

    delete:
      summary: Delete Media Extended Audio Description
      description: |
        Deletes an extended audio description by its hashed id.
      tags:
        - Media Extended Audio Descriptions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: The hashed id of the Media Extended Audio Description
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Media Extended Audio Description deleted successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  ietf_language_tag:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  media:
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique alphanumeric identifier for the record.
                      index_url:
                        type: string
                        description: |
                          A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                          to do a batch fetch for this records type.
                      url:
                        type: string
                        description: A URL that can be used to fetch this record.
                    required:
                      - id
                      - index_url
                      - url
                  provided_media_file:
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique alphanumeric identifier for the record.
                      index_url:
                        type: string
                        description: |
                          A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                          to do a batch fetch for this records type.
                      url:
                        type: string
                        description: A URL that can be used to fetch this record.
                    required:
                      - id
                      - index_url
                      - url
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique alphanumeric identifier for the record.
                      index_url:
                        type: string
                        description: |
                          A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                          to do a batch fetch for this records type.
                      url:
                        type: string
                        description: A URL that can be used to fetch this record.
                    required:
                      - id
                      - index_url
                      - url
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: delete-media-extended-audio-description
      x-wistia-mcp-description: |
        Deletes an extended audio description by its hashed id.
  /media_extended_audio_descriptions/order:
    post:
      summary: Order Extended Audio Description
      description: |
        Orders an extended audio description for a media. The request will charge the credit card on the account when the order is ready.
        Only accounts on paid plans with the `order_audio_descriptions` feature can use this endpoint.
      tags:
        - Media Extended Audio Descriptions
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                media_id:
                  type: string
                  description: The hashed id of the media to order the extended audio description for.
                enabled:
                  type: boolean
                  description: Whether the extended audio description should be automatically enabled once the order is complete.
                  default: true
                ai_enabled:
                  type: boolean
                  description: Whether to use AI-generated audio descriptions (cheaper) or human-generated (higher quality).
                  default: true
                order_instructions:
                  type: string
                  description: Optional instructions for the audio description provider.
              required:
                - media_id
        required: true
      responses:
        "200":
          description: Extended audio description ordered successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - >-
                        Extended audio description ordered. Your account will be charged when the order is ready.
                    description: Success message indicating the order has been placed.
                  order:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The hashed ID of the order. Use this to poll order status via the order_status endpoint.
                      order_status:
                        type: string
                        enum:
                          - in_progress
                          - completed
                          - cancelled
                          - failed
                        description: The current status of the order.
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      media:
                        type: object
                        properties:
                          id:
                            type: string
                            description: A unique alphanumeric identifier for the record.
                          index_url:
                            type: string
                            description: |
                              A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                              to do a batch fetch for this records type.
                          url:
                            type: string
                            description: A URL that can be used to fetch this record.
                        required:
                          - id
                          - index_url
                          - url
                      media_extended_audio_description:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                                description: A unique alphanumeric identifier for the record.
                              index_url:
                                type: string
                                description: |
                                  A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                                  to do a batch fetch for this records type.
                              url:
                                type: string
                                description: A URL that can be used to fetch this record.
                            required:
                              - id
                              - index_url
                              - url
                          - type: "null"
                        description: Link to the resulting media extended audio description. Null while the order is in progress.
                    required:
                      - id
                      - order_status
                      - media
                      - created_at
                      - updated_at
                required:
                  - message
                  - order
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: order-media-extended-audio-description
      x-wistia-mcp-annotations:
        open_world_hint: true
        destructive_hint: true
      x-wistia-mcp-description: >
        Orders an extended audio description for a media. The request will charge the credit card on the account when the order is ready. Only accounts on paid plans with the order_audio_descriptions feature can use this endpoint.

  /media_extended_audio_descriptions/order_status/{id}:
    get:
      summary: Get Order Status
      description: |
        Returns the current status of an extended audio description order. Use the order id returned
        from the order endpoint to poll for status updates.
      tags:
        - Media Extended Audio Descriptions
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: The hashed ID of the order returned from the order endpoint.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order status retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The hashed ID of the order. Use this to poll order status via the order_status endpoint.
                      order_status:
                        type: string
                        enum:
                          - in_progress
                          - completed
                          - cancelled
                          - failed
                        description: The current status of the order.
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                      media:
                        type: object
                        properties:
                          id:
                            type: string
                            description: A unique alphanumeric identifier for the record.
                          index_url:
                            type: string
                            description: |
                              A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                              to do a batch fetch for this records type.
                          url:
                            type: string
                            description: A URL that can be used to fetch this record.
                        required:
                          - id
                          - index_url
                          - url
                      media_extended_audio_description:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                                description: A unique alphanumeric identifier for the record.
                              index_url:
                                type: string
                                description: |
                                  A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values
                                  to do a batch fetch for this records type.
                              url:
                                type: string
                                description: A URL that can be used to fetch this record.
                            required:
                              - id
                              - index_url
                              - url
                          - type: "null"
                        description: Link to the resulting media extended audio description. Null while the order is in progress.
                    required:
                      - id
                      - order_status
                      - media
                      - created_at
                      - updated_at
                required:
                  - order
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: show-media-extended-audio-description-order-status
      x-wistia-mcp-description: >
        Returns the current status of an extended audio description order. Use the order id returned from the order endpoint to poll for status updates.

  /folders:
    get:
      summary: List Folders
      description: |
        Lists folders (previously called projects) belonging to the account.

        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: |
            If `cursor[enabled]` is set to 1 than cursor pagination is enabled and the
            first set of records are fetched up to the `per_page`. Cursor
            pagination will also be turned on if `cursor[before]` or `cursor[after]`
            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.
            The cursor value of the last record can be used to fetch records after the current result set and
            the cursor of the first record can be used to fetch records before the result set.

            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the
            last fetch. For example, you cannot fetch using `sort_by` id and than pass that
            cursor value to a `sort_by` name.
          required: false
          style: deepObject
          schema:
            type: object
            properties:
              enabled:
                type: integer
                enum:
                  - 0
                  - 1
                description: |
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This
                  values is ignored if `cursor[before]` or `cursor[after]` are set.
              before:
                type: string
                description: |
                  If `cursor[before]` is set than cursor pagination is enabled and all records
                  before the cursor up to the `per_page` are returned. This feature is useful for
                  fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending
                  order.
              after:
                type: string
                description: |
                  If `cursor[after]` is set than cursor pagination is enabled and all records
                  after the cursor up to the `per_page` are returned.
        - name: sort_by
          in: query
          description: |
            Ordering. When using cursor pagination (see cursor param),
            only `id`, `updated` and `created` are supported. All other sort_by options
            require offset pagination.
          required: false
          schema:
            type: string
            enum:
              - name
              - created
              - updated
              - mediaCount
              - id
        - name: sort_direction
          in: query
          description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: hashed_ids[]
          in: query
          description: A collection of hashed ids belonging to folders to fetch
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: A list of folders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      examples:
                        - 22570
                      description: A unique numeric identifier for the folder within the system.
                    name:
                      type: string
                      examples:
                        - My Folder Title
                      description: The folder’s display name.
                    description:
                      type:
                        - string
                        - "null"
                      examples:
                        - About My Folder
                      description: The folder’s description.
                    media_count:
                      type: integer
                      examples:
                        - 2
                      description: The number of different medias that have been uploaded to the folder.
                    medias:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: A unique numeric identifier for the media within the system.
                        name:
                          type: string
                          description: The display name of the media.
                        type:
                          type: string
                          enum:
                            - Video
                            - Audio
                            - Image
                            - PdfDocument
                            - MicrosoftOfficeDocument
                            - Swf
                            - UnknownType
                          description: A string representing what type of media this is.
                        archived:
                          type: boolean
                          description: Whether or not the media is archived, either true or false.
                        created:
                          type: string
                          format: date-time
                          description: The date when the media was originally uploaded.
                        updated:
                          type: string
                          format: date-time
                          description: The date when the media was last changed.
                        duration:
                          oneOf:
                            - type: number
                            - type: "null"
                          description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                        embedCode:
                          type: string
                          description: |
                            DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                          deprecated: true
                        hashed_id:
                          type: string
                          description: A unique alphanumeric identifier for this media.
                        description:
                          type: string
                          description: A description for the media which usually appears near the top of the sidebar on the media's page.
                        progress:
                          type: number
                          maximum: 1
                          minimum: 0
                          description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                        status:
                          type: string
                          enum:
                            - queued
                            - processing
                            - ready
                            - failed
                          description: |
                            Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                        section:
                          oneOf:
                            - type: string
                            - type: "null"
                          description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                        thumbnail:
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                      description: A link to where you can fetch the medias for this folder.
                    created:
                      type: string
                      examples:
                        - '2010-08-13T18:47:39+00:00'
                      format: date-time
                      description: The date that the folder was originally created.
                    updated:
                      type: string
                      examples:
                        - '2010-08-19T21:47:00+00:00'
                      format: date-time
                      description: The date that the folder was last updated.
                    hashed_id:
                      type: string
                      examples:
                        - 4d23503f70
                      description: A private hashed id, uniquely identifying the folder within the system.
                    public:
                      type: boolean
                      examples:
                        - false
                      description: A boolean indicating whether the folder is available for public (anonymous) viewing.
                    public_id:
                      type:
                        - string
                        - "null"
                      examples:
                        - 4bD
                      description: If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs.
                    anonymous_can_upload:
                      type: boolean
                      examples:
                        - false
                    anonymous_can_download:
                      type: boolean
                      examples:
                        - false
                    cursor:
                      type:
                        - string
                        - "null"
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                  required:
                    - id
                    - name
                    - media_count
                    - created
                    - updated
                    - hashed_id
                    - public
                    - public_id
                    - medias
                  description: |
                    A folder (previously called a project) is a container in which to organize media into. It can be
                    used to set permissions that apply to all the media in the folder as well as
                    organizing media into subfolders (previously called media groups).
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: get-folders
      x-wistia-mcp-description: |
        Gets folders (previously called projects) belonging to the account.
    post:
      summary: Create Folder
      description: |
        Creates a new folder (previously called project). If the folder is created successfully the Location HTTP header will point to the new folder.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  examples:
                    - My New Folder
                  description: The name of the folder you want to create.
                adminEmail:
                  type: string
                  examples:
                    - admin@example.com
                  description: The email address of the person you want to set as the owner of this folder. Defaults to the Wistia Account Owner.
                public:
                  oneOf:
                    - type: string
                      enum:
                        - '0'
                        - '1'
                      description: A flag indicating whether or not the folder is enabled for public access. Set to “1” to enable and “0” to disable.
                    - type: boolean
                      examples:
                        - false
                      description: A flag indicating whether or not the folder is enabled for public access. Set to `true` to enable and `false` to disable.
      responses:
        "201":
          description: Folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 22570
                    description: A unique numeric identifier for the folder within the system.
                  name:
                    type: string
                    examples:
                      - My Folder Title
                    description: The folder’s display name.
                  description:
                    type:
                      - string
                      - "null"
                    examples:
                      - About My Folder
                    description: The folder’s description.
                  media_count:
                    type: integer
                    examples:
                      - 2
                    description: The number of different medias that have been uploaded to the folder.
                  medias:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                    description: A link to where you can fetch the medias for this folder.
                  created:
                    type: string
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                    format: date-time
                    description: The date that the folder was originally created.
                  updated:
                    type: string
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                    format: date-time
                    description: The date that the folder was last updated.
                  hashed_id:
                    type: string
                    examples:
                      - 4d23503f70
                    description: A private hashed id, uniquely identifying the folder within the system.
                  public:
                    type: boolean
                    examples:
                      - false
                    description: A boolean indicating whether the folder is available for public (anonymous) viewing.
                  public_id:
                    type:
                      - string
                      - "null"
                    examples:
                      - 4bD
                    description: If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs.
                  anonymous_can_upload:
                    type: boolean
                    examples:
                      - false
                  anonymous_can_download:
                    type: boolean
                    examples:
                      - false
                  cursor:
                    type:
                      - string
                      - "null"
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                required:
                  - id
                  - name
                  - media_count
                  - created
                  - updated
                  - hashed_id
                  - public
                  - public_id
                  - medias
                description: |
                  A folder (previously called a project) is a container in which to organize media into. It can be
                  used to set permissions that apply to all the media in the folder as well as
                  organizing media into subfolders (previously called media groups).
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: create-folder
      x-wistia-mcp-description: >
        Creates a new folder (previously called project). If the folder is created successfully the Location HTTP header will point to the new folder.

  /folders/{id}:
    get:
      summary: Show Folder
      description: |
        Retrieves a single folder (previously called project).

        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Folder Hashed ID
          required: true
          schema:
            type: string
            description: Hashed ID of the folder (e.g., "4d23503f70")
      responses:
        "200":
          description: A single folder
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 22570
                    description: A unique numeric identifier for the folder within the system.
                  name:
                    type: string
                    examples:
                      - My Folder Title
                    description: The folder’s display name.
                  description:
                    type:
                      - string
                      - "null"
                    examples:
                      - About My Folder
                    description: The folder’s description.
                  media_count:
                    type: integer
                    examples:
                      - 2
                    description: The number of different medias that have been uploaded to the folder.
                  medias:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                    description: A link to where you can fetch the medias for this folder.
                  created:
                    type: string
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                    format: date-time
                    description: The date that the folder was originally created.
                  updated:
                    type: string
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                    format: date-time
                    description: The date that the folder was last updated.
                  hashed_id:
                    type: string
                    examples:
                      - 4d23503f70
                    description: A private hashed id, uniquely identifying the folder within the system.
                  public:
                    type: boolean
                    examples:
                      - false
                    description: A boolean indicating whether the folder is available for public (anonymous) viewing.
                  public_id:
                    type:
                      - string
                      - "null"
                    examples:
                      - 4bD
                    description: If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs.
                  anonymous_can_upload:
                    type: boolean
                    examples:
                      - false
                  anonymous_can_download:
                    type: boolean
                    examples:
                      - false
                  cursor:
                    type:
                      - string
                      - "null"
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                required:
                  - id
                  - name
                  - media_count
                  - created
                  - updated
                  - hashed_id
                  - public
                  - public_id
                  - medias
                description: |
                  A folder (previously called a project) is a container in which to organize media into. It can be
                  used to set permissions that apply to all the media in the folder as well as
                  organizing media into subfolders (previously called media groups).
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-ignore: true
    put:
      summary: Update Folder
      description: |
        Updates a folder (previously called project)

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Folder Hashed ID
          required: true
          schema:
            type: string
            description: Hashed ID of the folder (e.g., "4d23503f70")
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  examples:
                    - My New Folder Name
                  description: The folder’s new name.
                description:
                  type: string
                  examples:
                    - My New Folder Description
                  description: The folder’s new description.
                anonymousCanUpload:
                  type: boolean
                  description: Whether anonymous users can upload media to the folder.
                anonymousCanDownload:
                  type: boolean
                  description: Whether anonymous users can download media from the folder.
                public:
                  oneOf:
                    - type: string
                      enum:
                        - '0'
                        - '1'
                      description: A flag indicating whether or not the folder is enabled for public access. Set to “1” to enable and “0” to disable.
                    - type: boolean
                      examples:
                        - false
                      description: A flag indicating whether or not the folder is enabled for public access. Set to `true` to enable and `false` to disable.
      responses:
        "200":
          description: A single folder
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 22570
                    description: A unique numeric identifier for the folder within the system.
                  name:
                    type: string
                    examples:
                      - My Folder Title
                    description: The folder’s display name.
                  description:
                    type:
                      - string
                      - "null"
                    examples:
                      - About My Folder
                    description: The folder’s description.
                  media_count:
                    type: integer
                    examples:
                      - 2
                    description: The number of different medias that have been uploaded to the folder.
                  medias:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                    description: A link to where you can fetch the medias for this folder.
                  created:
                    type: string
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                    format: date-time
                    description: The date that the folder was originally created.
                  updated:
                    type: string
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                    format: date-time
                    description: The date that the folder was last updated.
                  hashed_id:
                    type: string
                    examples:
                      - 4d23503f70
                    description: A private hashed id, uniquely identifying the folder within the system.
                  public:
                    type: boolean
                    examples:
                      - false
                    description: A boolean indicating whether the folder is available for public (anonymous) viewing.
                  public_id:
                    type:
                      - string
                      - "null"
                    examples:
                      - 4bD
                    description: If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs.
                  anonymous_can_upload:
                    type: boolean
                    examples:
                      - false
                  anonymous_can_download:
                    type: boolean
                    examples:
                      - false
                  cursor:
                    type:
                      - string
                      - "null"
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                required:
                  - id
                  - name
                  - media_count
                  - created
                  - updated
                  - hashed_id
                  - public
                  - public_id
                  - medias
                description: |
                  A folder (previously called a project) is a container in which to organize media into. It can be
                  used to set permissions that apply to all the media in the folder as well as
                  organizing media into subfolders (previously called media groups).
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: update-folder
      x-wistia-mcp-description: |
        Updates a folder (previously called project)
    delete:
      summary: Delete Folder
      description: |
        Deletes a folder (previously called project)

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Folder Hashed ID
          required: true
          schema:
            type: string
            description: Hashed ID of the folder (e.g., "4d23503f70")
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    examples:
                      - 22570
                    description: A unique numeric identifier for the folder within the system.
                  name:
                    type: string
                    examples:
                      - My Folder Title
                    description: The folder’s display name.
                  description:
                    type:
                      - string
                      - "null"
                    examples:
                      - About My Folder
                    description: The folder’s description.
                  media_count:
                    type: integer
                    examples:
                      - 2
                    description: The number of different medias that have been uploaded to the folder.
                  medias:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                    description: A link to where you can fetch the medias for this folder.
                  created:
                    type: string
                    examples:
                      - '2010-08-13T18:47:39+00:00'
                    format: date-time
                    description: The date that the folder was originally created.
                  updated:
                    type: string
                    examples:
                      - '2010-08-19T21:47:00+00:00'
                    format: date-time
                    description: The date that the folder was last updated.
                  hashed_id:
                    type: string
                    examples:
                      - 4d23503f70
                    description: A private hashed id, uniquely identifying the folder within the system.
                  public:
                    type: boolean
                    examples:
                      - false
                    description: A boolean indicating whether the folder is available for public (anonymous) viewing.
                  public_id:
                    type:
                      - string
                      - "null"
                    examples:
                      - 4bD
                    description: If the folder is public, this field contains a string representing the ID used for referencing the folder in public URLs.
                  anonymous_can_upload:
                    type: boolean
                    examples:
                      - false
                  anonymous_can_download:
                    type: boolean
                    examples:
                      - false
                  cursor:
                    type:
                      - string
                      - "null"
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                required:
                  - id
                  - name
                  - media_count
                  - created
                  - updated
                  - hashed_id
                  - public
                  - public_id
                  - medias
                description: |
                  A folder (previously called a project) is a container in which to organize media into. It can be
                  used to set permissions that apply to all the media in the folder as well as
                  organizing media into subfolders (previously called media groups).
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: delete-folder
      x-wistia-mcp-description: |
        Deletes a folder (previously called project)
  /folders/{id}/copy:
    post:
      summary: Copy Folder
      description: |
        This copies a folder (previously called project) and all its media and subfolders asynchronously in a background job.

        This method does not copy the folder’s sharing information (i.e. users that could see the old folder will not automatically be able to see the new one).

        For the request you can specify the owner of a new folder by passing an optional parameter. The person you specify must be a Manager in the account.

        The body of the response will contain an object representing the background job that was created.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Folders
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Folder Hashed ID
          required: true
          schema:
            type: string
            description: Hashed ID of the folder (e.g., "4d23503f70")
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                adminEmail:
                  type: string
                  examples:
                    - admin@example.com
                  description: The email address of the account Manager that will be the owner of the new folder. Defaults to the Account Owner if invalid or omitted.
      responses:
        "202":
          description: Folder queued to be copied
          content:
            application/json:
              schema:
                type: object
                properties:
                  background_job_status:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: The ID of the background job that's been queued for the request.
                      status:
                        type: string
                        enum:
                          - queued
                          - started
                          - finished
                          - failed
                        description: The status of the background job that's been queued for the request.
                    required:
                      - id
                      - status
                    description: |
                      A background job keeps track of the progress of an asynchronous task, e.g
                      bulk archiving media, translating media, etc.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-tool-name: copy-folder
      x-wistia-mcp-description: >
        This copies a folder (previously called project) and all its media and subfolders asynchronously in a background job.


        This method does not copy the folder’s sharing information (i.e. users that could see the old folder will not automatically be able to see the new one).


        For the request you can specify the owner of a new folder by passing an optional parameter. The person you specify must be a Manager in the account.


        The body of the response will contain an object representing the background job that was created.

  /folders/{folderId}/subfolders:
    get:
      summary: List Subfolders
      description: |
        Lists subfolders in a specific folder.

        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
      tags:
        - Subfolders
      security:
        - BearerAuth: []
      parameters:
        - name: folderId
          in: path
          description: The hashed ID of the folder
          required: true
          schema:
            type: string
            examples:
              - abc123def4
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: |
            If `cursor[enabled]` is set to 1 than cursor pagination is enabled and the
            first set of records are fetched up to the `per_page`. Cursor
            pagination will also be turned on if `cursor[before]` or `cursor[after]`
            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.
            The cursor value of the last record can be used to fetch records after the current result set and
            the cursor of the first record can be used to fetch records before the result set.

            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the
            last fetch. For example, you cannot fetch using `sort_by` id and than pass that
            cursor value to a `sort_by` name.
          required: false
          style: deepObject
          schema:
            type: object
            properties:
              enabled:
                type: integer
                enum:
                  - 0
                  - 1
                description: |
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This
                  values is ignored if `cursor[before]` or `cursor[after]` are set.
              before:
                type: string
                description: |
                  If `cursor[before]` is set than cursor pagination is enabled and all records
                  before the cursor up to the `per_page` are returned. This feature is useful for
                  fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending
                  order.
              after:
                type: string
                description: |
                  If `cursor[after]` is set than cursor pagination is enabled and all records
                  after the cursor up to the `per_page` are returned.
        - name: sort_by
          in: query
          description: |
            Field to sort by. When using cursor pagination (see cursor param),
            only `id` is supported.
          required: false
          schema:
            type: string
            enum:
              - name
              - created
              - updated
              - position
              - id
            default: position
        - name: sort_direction
          in: query
          description: Sort direction (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
            default: 1
        - name: hashed_ids[]
          in: query
          description: Filter subfolders by their hashed IDs
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: A list of subfolders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    hashed_id:
                      type: string
                      examples:
                        - abc123def4
                      description: A unique alphanumeric identifier for this subfolder.
                    name:
                      type:
                        - string
                        - "null"
                      examples:
                        - Marketing Videos
                      description: The display name of the subfolder.
                    description:
                      type:
                        - string
                        - "null"
                      examples:
                        - Collection of all marketing and promotional videos
                      description: A description for the subfolder.
                    position:
                      type:
                        - integer
                        - "null"
                      examples:
                        - 1
[...]
