openapi: 3.1.1
info:
  title: Data API
  version: 2026.07.0
  description: Wistia Data API
paths:
  /:
    servers:
      - url: https://upload.wistia.com
    post:
      summary: Upload or Import Media
      description: |
        Endpoint to upload media files from a local system or import from a web URL.

        - Use `multipart/form-data` with a `file` parameter to upload from local system
        - Use `application/x-www-form-urlencoded` with a `url` parameter to import from web URL
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - url
                  properties:
                    url:
                      description: The publicly accessible web location of the media file to import.
                      type: string
                      format: uri
                      examples:
                        - http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4
                    low_priority:
                      description: Inform the encoding service that this upload can be considered lower priority than others. This is especially useful for platform customers doing bulk uploads or migrations. Setting this to "false" has no effect.
                      type: boolean
                      examples:
                        - true
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/CommonUploadProperties'
                - type: object
                  required:
                    - file
                  properties:
                    file:
                      description: The media file, multipart-form encoded into the request body.
                      type: string
                      format: binary
      responses:
        '200':
          description: Successfully uploaded or imported.
          content:
            application/json:
              schema:
                description: Response after successfully uploading or importing media
                type: object
                properties:
                  id:
                    description: A unique numeric identifier for the media within the system.
                    type: integer
                  name:
                    description: The display name of the media.
                    type: string
                  type:
                    description: A string representing what type of media this is.
                    type: string
                  created:
                    description: The date when the media was originally uploaded.
                    type: string
                    format: date-time
                  updated:
                    description: The date when the media was last changed.
                    type: string
                    format: date-time
                  duration:
                    description: Specifies the length (in seconds) for audio and video files.
                    type: number
                  hashed_id:
                    description: A unique alphanumeric identifier for this media.
                    type: string
                  progress:
                    description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                    type: number
                    maximum: 1
                    minimum: 0
                  thumbnail:
                    $ref: '#/components/schemas/Thumbnail'
        '400':
          description: Error due to reaching the video limit of your account or other issues.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      detail:
                        type: string
              examples:
                missing_credentials:
                  value:
                    code: upload_failed
                    detail: '''api_password'' or ''access_token'' are required'
        '401':
          description: Authorization error. Check your access_token.
          content:
            text/html: {}
      tags:
        - Upload or Import Media
      security:
        - BearerAuth: []
  /deleted_media:
    get:
      summary: List Deleted Media
      description: |
        Lists media that has been soft-deleted and is still inside the account's
        restore window. Media is listed only while it can still be restored — 30 days
        on most plans, 14 on free plans. After which it is permanently purged.

        <!--- HIDE-MCP -->
        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
        <!--- /HIDE-MCP -->
      tags:
        - Deleted Media
      security:
        - BearerAuth: []
      parameters:
        - name: hashed_ids[]
          in: query
          description: Restrict the results to the deleted media with these hashed IDs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: sort_by
          in: query
          description: Field to order by. When omitted, results are ordered most-recently-deleted first.
          required: false
          schema:
            type: string
            enum:
              - id
              - deleted
        - name: sort_direction
          in: query
          description: Direction to order by. (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: |
            If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the
            first set of records are fetched up to the `per_page`. Cursor
            pagination will also be turned on if `cursor[before]` or `cursor[after]`
            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.
            The cursor value of the last record can be used to fetch records after the current result set and
            the cursor of the first record can be used to fetch records before the result set.

            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the
            last fetch. For example, you cannot fetch using `sort_by` id and then pass that
            cursor value to a `sort_by` name.
          required: false
          style: deepObject
          schema:
            type: object
            unevaluatedProperties: false
            properties:
              enabled:
                type: integer
                enum:
                  - 0
                  - 1
                description: |
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This
                  values is ignored if `cursor[before]` or `cursor[after]` are set.
              before:
                type: string
                description: |
                  If `cursor[before]` is set then cursor pagination is enabled and all records
                  before the cursor up to the `per_page` are returned. This feature is useful for
                  fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending
                  order.
              after:
                type: string
                description: |
                  If `cursor[after]` is set then cursor pagination is enabled and all records
                  after the cursor up to the `per_page` are returned.
      responses:
        "200":
          description: Deleted media retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    hashed_id:
                      type: string
                      description: A unique alphanumeric identifier for this media.
                    name:
                      type: string
                      examples:
                        - My deleted video
                      description: The media display name.
                    type:
                      type: string
                      examples:
                        - Video
                      description: The type of media (e.g. Video, Audio).
                    duration:
                      type:
                        - number
                        - "null"
                      description: The length of the media in seconds.
                    deleted_at:
                      type: string
                      examples:
                        - '2026-06-20T18:47:39+00:00'
                      format: date-time
                      description: When the media was deleted, in ISO 8601 format.
                    restore_expires_at:
                      type: string
                      examples:
                        - '2026-07-20T18:47:39+00:00'
                      format: date-time
                      description: The deadline after which this media is permanently purged and can no longer be restored (deleted_at plus the account's restore window).
                    folder:
                      type:
                        - object
                        - "null"
                      unevaluatedProperties: false
                      properties:
                        hashed_id:
                          type: string
                        name:
                          type:
                            - string
                            - "null"
                      description: The folder the media will return to if restored without an explicit target. Null if the original folder was also deleted.
                    cursor:
                      type:
                        - string
                        - "null"
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
                  errors:
                    type: array
                    items:
                      type: string
                    description: Array of error messages detailing the reasons for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: >-
          This tool only reads soft-deleted media from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
      x-wistia-mcp-tool-name: list-deleted-media
      x-wistia-mcp-description: >
        List, show, or browse media that has been deleted and is still within the

        restore window (the "Recently Deleted" area). Use this when someone wants to

        see what they recently deleted or find a deleted video/audio to bring back.

        Deleted media can only be restored for a limited time — 30 days on most plans,

        14 days on free plans (configurable up to 90) — after which it is permanently

        purged; each item's restore_expires_at is the deadline. Filter by hashed_ids to

        batch-fetch specific items. Use restore-deleted-media to bring media back.

  /deleted_media/restore:
    post:
      summary: Restore Deleted Media
      description: |
        Restores one or more soft-deleted media. By default each media returns to the
        folder it was deleted from; pass folder_id to restore them into a specific
        folder instead. Only media still inside the restore window can be recovered.
        The restore runs asynchronously and the response includes a background job
        status.

        <!--- HIDE-MCP -->
        ## Requires api token with one of the following permissions
        ```
        Upload and view media
        ```
        <!--- /HIDE-MCP -->
      tags:
        - Deleted Media
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                media_hashed_ids:
                  type: array
                  examples:
                    - abc123
                    - abc124
                  items:
                    type: string
                  description: The hashed ids of the soft-deleted media to restore. Up to 1000 at a time.
                folder_id:
                  type: string
                  examples:
                    - folder123
                  description: Optional hashed id of the folder to restore the media into. If omitted, each media returns to the folder it was deleted from.
              required:
                - media_hashed_ids
        required: true
      responses:
        "202":
          description: Restore request accepted and queued for processing.
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  message:
                    type: string
                    examples:
                      - Restoring 3 media.
                  background_job_status:
                    type: object
                    unevaluatedProperties: false
                    properties:
                      id:
                        type: integer
                      hashed_id:
                        type: string
                      status:
                        type: string
                        examples:
                          - queued
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
                  errors:
                    type: array
                    items:
                      type: string
                    description: Array of error messages detailing the reasons for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: >-
          This tool restores soft-deleted media, which changes account data by bringing media back.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only operates on records inside the account and Wistia's own storage; it does not reach external services.
        destructive_hint: false
        destructive_hint_justification: >-
          Restoring media only brings back previously deleted media; it does not delete or overwrite anything.
      x-wistia-mcp-tool-name: restore-deleted-media
      x-wistia-mcp-description: >
        Restore (un-delete, recover, bring back) media that was recently deleted. Use

        this when someone wants to undo a deletion or recover videos/audio they

        deleted. Provide the hashed ids of the media to restore (media_hashed_ids), up

        to 1000 at a time. By default each media returns to the folder it was deleted

        from; pass folder_id to restore them all into a specific folder instead. Only

        media still inside the restore window can be recovered. Restoring runs

        asynchronously, returning a background_job_status to poll for completion.

  /medias:
    get:
      summary: List Media
      description: |
        Lists the media belonging to the account. This endpoint can also be used to
        do a batch fetch based off of the hashed id.

        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: |
            The page number to retrieve. This cannot be combined with `cursor`,
            pagination.
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: The number of medias per page. Use this for both offset pagination and cursor pagination.
          required: false
          schema:
            type: integer
        - name: cursor
          in: query
          description: |
            If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the
            first set of records are fetched up to the `per_page`. Cursor
            pagination will also be turned on if `cursor[before]` or `cursor[after]`
            are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.
            The cursor value of the last record can be used to fetch records after the current result set and
            the cursor of the first record can be used to fetch records before the result set.

            NOTE: a cursor value is only valid if the `sort_by` value hasn't changed from the
            last fetch. For example, you cannot fetch using `sort_by` id and then pass that
            cursor value to a `sort_by` name.
          required: false
          style: deepObject
          schema:
            type: object
            unevaluatedProperties: false
            properties:
              enabled:
                type: integer
                enum:
                  - 0
                  - 1
                description: |
                  If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This
                  values is ignored if `cursor[before]` or `cursor[after]` are set.
              before:
                type: string
                description: |
                  If `cursor[before]` is set then cursor pagination is enabled and all records
                  before the cursor up to the `per_page` are returned. This feature is useful for
                  fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending
                  order.
              after:
                type: string
                description: |
                  If `cursor[after]` is set then cursor pagination is enabled and all records
                  after the cursor up to the `per_page` are returned.
        - name: sort_by
          in: query
          description: |
            Ordering. When using cursor pagination (see cursor param),
            only `id` and `created` are supported. All other sort_by options (`name`, `updated`, `position`)
            require offset pagination.
          required: false
          schema:
            type: string
            enum:
              - name
              - created
              - updated
              - position
        - name: sort_direction
          in: query
          description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
        - name: folder_id
          in: query
          description: A hashed ID specifying the folder from which you would like to get results.
          required: false
          schema:
            type: string
            description: Hashed ID of the folder (e.g., "4d23503f70")
        - name: name
          in: query
          description: Find a media or medias whose name exactly matches this parameter.
          required: false
          schema:
            type: string
        - name: description_format
          in: query
          description: Format for media descriptions
          required: false
          schema:
            type: string
            examples:
              - markdown
            const: markdown
        - name: type
          in: query
          description: A string specifying which type of media you would like to get.
          required: false
          schema:
            type: string
            enum:
              - Video
              - Audio
              - Image
              - PdfDocument
              - MicrosoftOfficeDocument
              - Swf
              - UnknownType
        - name: hashed_ids[]
          in: query
          description: Find all of the medias by these hashed_ids.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: tags[]
          in: query
          description: Find all of the medias that match all of these tag names.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: archived
          in: query
          description: Filter by archived status. True will return only archived medias, while false will return only active medias.
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      properties:
                        id:
                          type: integer
                          description: A unique numeric identifier for the media within the system.
                        name:
                          type: string
                          description: The display name of the media.
                        type:
                          type: string
                          enum:
                            - Video
                            - Audio
                            - Image
                            - PdfDocument
                            - MicrosoftOfficeDocument
                            - Swf
                            - UnknownType
                          description: A string representing what type of media this is.
                        archived:
                          type: boolean
                          description: Whether or not the media is archived, either true or false.
                        created:
                          type: string
                          format: date-time
                          description: The date when the media was originally uploaded.
                        updated:
                          type: string
                          format: date-time
                          description: The date when the media was last changed.
                        duration:
                          oneOf:
                            - type: number
                            - type: "null"
                          unevaluatedProperties: false
                          description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                        embedCode:
                          type: string
                          description: |
                            DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                          deprecated: true
                        hashed_id:
                          type: string
                          description: A unique alphanumeric identifier for this media.
                        description:
                          type: string
                          description: A description for the media which usually appears near the top of the sidebar on the media's page.
                        progress:
                          type: number
                          maximum: 1
                          minimum: 0
                          description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                        status:
                          type: string
                          enum:
                            - queued
                            - processing
                            - ready
                            - failed
                          description: |
                            Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                        section:
                          oneOf:
                            - type: string
                            - type: "null"
                          unevaluatedProperties: false
                          description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                        thumbnail:
                          type: object
                          unevaluatedProperties: false
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        protected:
                          type:
                            - boolean
                            - "null"
                          description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                      description: |
                        A media generally represents a video or an audio which can be embedded into your website.

                        CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                        For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                    - type: object
                      properties:
                        folder:
                          oneOf:
                            - type: object
                              unevaluatedProperties: false
                              properties:
                                id:
                                  type: integer
                                  examples:
                                    - 22570
                                  description: A unique numeric identifier for the folder within the system.
                                name:
                                  type: string
                                  examples:
                                    - My Folder Title
                                  description: The folder’s display name.
                                hashed_id:
                                  type: string
                                  examples:
                                    - 4d23503f70
                                  description: A private hashed id, uniquely identifying the folder within the system.
                            - type: "null"
                          unevaluatedProperties: false
                      required:
                        - folder
                    - type: object
                      properties:
                        assets:
                          type: array
                          items:
                            type: object
                            unevaluatedProperties: false
                            properties:
                              url:
                                type: string
                                description: A direct-access URL to the content of the asset.
                              width:
                                oneOf:
                                  - type: integer
                                  - type: "null"
                                unevaluatedProperties: false
                                description: The width of this specific asset, if applicable.
                              height:
                                oneOf:
                                  - type: integer
                                  - type: "null"
                                unevaluatedProperties: false
                                description: The height of this specific asset, if applicable.
                              file_size:
                                oneOf:
                                  - type: integer
                                  - type: "null"
                                unevaluatedProperties: false
                                description: The size of the asset file that’s referenced by url, measured in bytes.
                              content_type:
                                oneOf:
                                  - type: string
                                  - type: "null"
                                unevaluatedProperties: false
                                description: The asset’s content type.
                              type:
                                type: string
                                description: |
                                  The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.
                          description: An array of the assets available for this media.
                    - type: object
                      properties:
                        subfolder:
                          allOf:
                            - type: object
                              properties:
                                hashed_id:
                                  type: string
                                  examples:
                                    - abc123def4
                                  description: A unique alphanumeric identifier for this subfolder.
                                name:
                                  type:
                                    - string
                                    - "null"
                                  examples:
                                    - Marketing Videos
                                  description: The display name of the subfolder.
                                description:
                                  type:
                                    - string
                                    - "null"
                                  examples:
                                    - >-
                                      Collection of all marketing and promotional videos
                                  description: A description for the subfolder.
                                position:
                                  type:
                                    - integer
                                    - "null"
                                  examples:
                                    - 1
                                  description: The position of this subfolder within its folder, used for ordering.
                                created:
                                  type:
                                    - string
                                    - "null"
                                  examples:
                                    - '2024-01-15T10:30:00+00:00'
                                  format: date-time
                                  description: The date when the subfolder was created.
                                updated:
                                  type:
                                    - string
                                    - "null"
                                  examples:
                                    - '2024-01-20T14:45:00+00:00'
                                  format: date-time
                                  description: The date when the subfolder was last modified.
                                cursor:
                                  type:
                                    - string
                                    - "null"
                                  description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                              required:
                                - hashed_id
                                - position
                                - created
                                - updated
                              description: A subfolder within a folder that contains media.
                          unevaluatedProperties: false
                          description: The subfolder (media group) in which the media appears. Null if the media is not in a subfolder.
                    - type: object
                      properties:
                        tags:
                          type: array
                          items:
                            type: object
                            unevaluatedProperties: false
                            properties:
                              name:
                                type: string
                                description: The display name of the tag.
                          description: Tags associated with this media.
                    - type: object
                      properties:
                        cursor:
                          type:
                            - string
                            - "null"
                          description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                  unevaluatedProperties: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
                  errors:
                    type: array
                    items:
                      type: string
                    description: Array of error messages detailing the reasons for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: >-
          This tool only reads medias from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
      x-speakeasy-group: media
      x-speakeasy-name-override: list
      x-wistia-mcp-tool-name: get-medias
      x-wistia-mcp-description: >
        List, browse, or fetch media records (videos and audio files) in the account.

        Use this when someone wants a page of media, all media in a known folder, exact-name

        or exact-ID lookup, or structured filtering by folder, media type, tags, archived status,

        sorting, or pagination. Do not use this as the first step for keyword, topic, title,

        description, or transcript search; use the `search` tool for those content-finding

        requests, then use get-medias only if you need exact media records by hashed_id.

        For "all" or "how many" requests with structured filters, use `per_page: 100` and

        continue with `page` or `cursor` pagination while more results may exist. The default

        page size is 10, so never treat an unpaginated first response as a complete total.

        Returns a list of media records. In MCP responses, `per_page` is only the requested

        limit; use `returned_count` or the actual `content` length as the number of records

        returned in that response.

  /medias/{mediaHashedId}:
    get:
      summary: Show Media
      description: |
        Fetches a single media by its hashed id.

        ## Requires api token with one of the following permissions
        ```
        Read all folder and media data
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaHashedId
          in: path
          description: The hashed ID of the media.
          required: true
          schema:
            type: string
            description: Hashed ID of the media (e.g., "4d23503f70")
        - name: description_format
          in: query
          description: Format for media descriptions
          required: false
          schema:
            type: string
            examples:
              - markdown
            const: markdown
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        unevaluatedProperties: false
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        unevaluatedProperties: false
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                      protected:
                        type:
                          - boolean
                          - "null"
                        description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                    description: |
                      A media generally represents a video or an audio which can be embedded into your website.

                      CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                      For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                  - type: object
                    properties:
                      folder:
                        oneOf:
                          - type: object
                            unevaluatedProperties: false
                            properties:
                              id:
                                type: integer
                                examples:
                                  - 22570
                                description: A unique numeric identifier for the folder within the system.
                              name:
                                type: string
                                examples:
                                  - My Folder Title
                                description: The folder’s display name.
                              hashed_id:
                                type: string
                                examples:
                                  - 4d23503f70
                                description: A private hashed id, uniquely identifying the folder within the system.
                          - type: "null"
                        unevaluatedProperties: false
                    required:
                      - folder
                  - type: object
                    properties:
                      assets:
                        type: array
                        items:
                          type: object
                          unevaluatedProperties: false
                          properties:
                            url:
                              type: string
                              description: A direct-access URL to the content of the asset.
                            width:
                              oneOf:
                                - type: integer
                                - type: "null"
                              unevaluatedProperties: false
                              description: The width of this specific asset, if applicable.
                            height:
                              oneOf:
                                - type: integer
                                - type: "null"
                              unevaluatedProperties: false
                              description: The height of this specific asset, if applicable.
                            file_size:
                              oneOf:
                                - type: integer
                                - type: "null"
                              unevaluatedProperties: false
                              description: The size of the asset file that’s referenced by url, measured in bytes.
                            content_type:
                              oneOf:
                                - type: string
                                - type: "null"
                              unevaluatedProperties: false
                              description: The asset’s content type.
                            type:
                              type: string
                              description: |
                                The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.
                        description: An array of the assets available for this media.
                  - type: object
                    properties:
                      subfolder:
                        allOf:
                          - type: object
                            properties:
                              hashed_id:
                                type: string
                                examples:
                                  - abc123def4
                                description: A unique alphanumeric identifier for this subfolder.
                              name:
                                type:
                                  - string
                                  - "null"
                                examples:
                                  - Marketing Videos
                                description: The display name of the subfolder.
                              description:
                                type:
                                  - string
                                  - "null"
                                examples:
                                  - >-
                                    Collection of all marketing and promotional videos
                                description: A description for the subfolder.
                              position:
                                type:
                                  - integer
                                  - "null"
                                examples:
                                  - 1
                                description: The position of this subfolder within its folder, used for ordering.
                              created:
                                type:
                                  - string
                                  - "null"
                                examples:
                                  - '2024-01-15T10:30:00+00:00'
                                format: date-time
                                description: The date when the subfolder was created.
                              updated:
                                type:
                                  - string
                                  - "null"
                                examples:
                                  - '2024-01-20T14:45:00+00:00'
                                format: date-time
                                description: The date when the subfolder was last modified.
                              cursor:
                                type:
                                  - string
                                  - "null"
                                description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                            required:
                              - hashed_id
                              - position
                              - created
                              - updated
                            description: A subfolder within a folder that contains media.
                        unevaluatedProperties: false
                        description: The subfolder (media group) in which the media appears. Null if the media is not in a subfolder.
                  - type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: object
                          unevaluatedProperties: false
                          properties:
                            name:
                              type: string
                              description: The display name of the tag.
                        description: Tags associated with this media.
                unevaluatedProperties: false
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-ignore: true
      x-speakeasy-group: media
      x-speakeasy-name-override: get
    put:
      summary: Update Media
      description: |
        Updates the attributes on a media.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaHashedId
          in: path
          description: The hashed ID of the media.
          required: true
          schema:
            type: string
            description: Hashed ID of the media (e.g., "4d23503f70")
      requestBody:
        content:
          application/json:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                name:
                  type: string
                  description: The media’s new name.
                new_still_media_id:
                  type: string
                  description: |
                    The Wistia hashed ID of an image that will replace the still that’s displayed before the player starts playing.
                description:
                  type: string
                  description: A new description for this media. Accepts plain text or markdown.
                tags:
                  type: array
                  items:
                    type: string
                  description: An array of tag names to apply to the media. This replaces any existing tags. To add tags without replacing existing tags, use bulk-tag-media.
        required: false
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        unevaluatedProperties: false
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        unevaluatedProperties: false
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                      protected:
                        type:
                          - boolean
                          - "null"
                        description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                    description: |
                      A media generally represents a video or an audio which can be embedded into your website.

                      CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                      For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                  - type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: object
                          unevaluatedProperties: false
                          properties:
                            name:
                              type: string
                              description: The display name of the tag.
                        description: Tags associated with this media.
                unevaluatedProperties: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Bad request
                    description: Error message detailing the reason for the bad request.
                  errors:
                    type: array
                    items:
                      type: string
                    description: Array of error messages detailing the reasons for the bad request.
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool modifies an existing media in the account.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: >-
          Updating replaces existing values and the previous data cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: >-
          Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      x-speakeasy-group: media
      x-speakeasy-name-override: update
      x-wistia-mcp-tool-name: update-media
      x-wistia-mcp-description: >
        Update, edit, change, or rename the attributes of a media (a video or audio file) by

        hashed_id. Use this when someone wants to change a video or audio file's name,

        description, complete tag list, or thumbnail/still image. Supplying tags replaces all

        existing tags. Do not use this to add tags to a media while keeping its current tags;

        use bulk-tag-media instead. This edits metadata only — to replace the underlying file use swap-media,

        and to relocate it use move-media.

    delete:
      summary: Delete Media
      description: |
        Deletes a media.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaHashedId
          in: path
          description: The hashed ID of the media.
          required: true
          schema:
            type: string
            description: Hashed ID of the media (e.g., "4d23503f70")
      responses:
        "200":
          description: Successful deletion of the media.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        unevaluatedProperties: false
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        unevaluatedProperties: false
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                      protected:
                        type:
                          - boolean
                          - "null"
                        description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                    description: |
                      A media generally represents a video or an audio which can be embedded into your website.

                      CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                      For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                unevaluatedProperties: false
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes a media from the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This tool permanently deletes the media and cannot be undone.
      x-speakeasy-group: media
      x-speakeasy-name-override: delete
      x-wistia-mcp-tool-name: delete-media
      x-wistia-mcp-description: >
        Permanently delete a media (a video or audio file) from the account by its hashed_id.

        Use this when someone wants to delete, remove, trash, or destroy a video or audio file

        for good. This cannot be undone — to remove media reversibly use archive-media (and

        restore-media to bring it back), or move-media to relocate it instead.

  /medias/{mediaHashedId}/copy:
    post:
      summary: Copy Media
      description: |
        This endpoint copies a media and its assets to a destination folder (defaults to source media).

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaHashedId
          in: path
          description: The hashed ID of the media.
          required: true
          schema:
            type: string
            description: Hashed ID of the media (e.g., "4d23503f70")
      requestBody:
        content:
          application/json:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                folder_id:
                  type: integer
                  description: The ID of the folder where you want the new copy placed. Defaults to the source media’s current folder if omitted or invalid.
                owner:
                  type: string
                  format: email
                  description: An email address specifying the owner of the new media. Defaults to the source media’s current owner if omitted or invalid.
      responses:
        "201":
          description: Successful creation of the media copy.
          headers:
            Location:
              description: The URL where the newly created media resource resides.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: A unique numeric identifier for the media within the system.
                      name:
                        type: string
                        description: The display name of the media.
                      type:
                        type: string
                        enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        description: A string representing what type of media this is.
                      archived:
                        type: boolean
                        description: Whether or not the media is archived, either true or false.
                      created:
                        type: string
                        format: date-time
                        description: The date when the media was originally uploaded.
                      updated:
                        type: string
                        format: date-time
                        description: The date when the media was last changed.
                      duration:
                        oneOf:
                          - type: number
                          - type: "null"
                        unevaluatedProperties: false
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      embedCode:
                        type: string
                        description: |
                          DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                        deprecated: true
                      hashed_id:
                        type: string
                        description: A unique alphanumeric identifier for this media.
                      description:
                        type: string
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      progress:
                        type: number
                        maximum: 1
                        minimum: 0
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      status:
                        type: string
                        enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        description: |
                          Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                      section:
                        oneOf:
                          - type: string
                          - type: "null"
                        unevaluatedProperties: false
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      thumbnail:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                      protected:
                        type:
                          - boolean
                          - "null"
                        description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                    description: |
                      A media generally represents a video or an audio which can be embedded into your website.

                      CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                      For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                  - type: object
                    properties:
                      folder:
                        oneOf:
                          - type: object
                            unevaluatedProperties: false
                            properties:
                              id:
                                type: integer
                                examples:
                                  - 22570
                                description: A unique numeric identifier for the folder within the system.
                              name:
                                type: string
                                examples:
                                  - My Folder Title
                                description: The folder’s display name.
                              hashed_id:
                                type: string
                                examples:
                                  - 4d23503f70
                                description: A private hashed id, uniquely identifying the folder within the system.
                          - type: "null"
                        unevaluatedProperties: false
                    required:
                      - folder
                unevaluatedProperties: false
        "400":
          description: Bad request, e.g. copy failure.
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "405":
          description: Method not allowed, e.g. trying to copy archived media.
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new media copy, which modifies the account.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: Copying only adds new media; existing media are not modified.
      x-speakeasy-group: media
      x-speakeasy-name-override: copy
      x-wistia-mcp-tool-name: copy-media
      x-wistia-mcp-description: >
        Copy, duplicate, or clone a single media (a video or audio file) and its assets by

        hashed_id, optionally into a destination folder and optionally assigning a new owner.

        Use this when someone wants to duplicate one video or audio file. Defaults the

        destination to the source media's current folder and the owner to the source media's

        owner when omitted. To copy many medias at once use bulk-copy-media; to relocate without

        duplicating use move-media.

  /medias/{mediaHashedId}/swap:
    put:
      summary: Swap Media
      description: |
        Swap one media with another media. This operation queues a background job to replace the original media with the replacement media while preserving the original media's hashed ID and URLs.

        ## Requires api token with one of the following permissions
        ```
        Read, update & delete anything
        ```
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: mediaHashedId
          in: path
          description: The hashed ID of the media to be replaced.
          required: true
          schema:
            type: string
            description: Hashed ID of the media to be replaced.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                replacement_media_id:
                  type: string
                  description: The hashed ID of the media that will replace the original media. Must be the same media type as the original.
              required:
                - replacement_media_id
      responses:
        "200":
          description: Successfully queued background job for media swap.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        description: A confirmation message that the background job has been queued.
                      background_job_status:
                        allOf:
                          - type: object
                            properties:
                              id:
                                type: integer
                                description: The ID of the background job that's been queued for the request.
                              hashed_id:
                                type: string
                                description: The unguessable hashed ID of the background job. Prefer this over the numeric ID when polling for status.
                              status:
                                type: string
                                enum:
                                  - queued
                                  - started
                                  - finished
                                  - failed
                                description: The status of the background job that's been queued for the request.
                            required:
                              - id
                              - hashed_id
                              - status
                            description: |
                              A background job keeps track of the progress of an asynchronous task, e.g
                              bulk archiving media, translating media, etc.
                        unevaluatedProperties: false
                    required:
                      - message
                      - background_job_status
                unevaluatedProperties: false
                properties:
                  media:
                    allOf:
                      - type: object
                        properties:
                          id:
                            type: integer
                            description: A unique numeric identifier for the media within the system.
                          name:
                            type: string
                            description: The display name of the media.
                          type:
                            type: string
                            enum:
                              - Video
                              - Audio
                              - Image
                              - PdfDocument
                              - MicrosoftOfficeDocument
                              - Swf
                              - UnknownType
                            description: A string representing what type of media this is.
                          archived:
                            type: boolean
                            description: Whether or not the media is archived, either true or false.
                          created:
                            type: string
                            format: date-time
                            description: The date when the media was originally uploaded.
                          updated:
                            type: string
                            format: date-time
                            description: The date when the media was last changed.
                          duration:
                            oneOf:
                              - type: number
                              - type: "null"
                            unevaluatedProperties: false
                            description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                          embedCode:
                            type: string
                            description: |
                              DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.
                            deprecated: true
                          hashed_id:
                            type: string
                            description: A unique alphanumeric identifier for this media.
                          description:
                            type: string
                            description: A description for the media which usually appears near the top of the sidebar on the media's page.
                          progress:
                            type: number
                            maximum: 1
                            minimum: 0
                            description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                          status:
                            type: string
                            enum:
                              - queued
                              - processing
                              - ready
                              - failed
                            description: |
                              Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).
                          section:
                            oneOf:
                              - type: string
                              - type: "null"
                            unevaluatedProperties: false
                            description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                          thumbnail:
                            type: object
                            unevaluatedProperties: false
                            properties:
                              url:
                                type: string
                              width:
                                type: integer
                              height:
                                type: integer
                          protected:
                            type:
                              - boolean
                              - "null"
                            description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                        description: |
                          A media generally represents a video or an audio which can be embedded into your website.

                          CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.
                          For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.
                    unevaluatedProperties: false
        "400":
          description: Bad request, e.g. missing replacement_media_id or media type mismatch.
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - >-
                        Replacement media must be the same type as the original media (Video).
        "401":
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  code:
                    type: string
                    enum:
                      - unauthorized_credentials
                      - account_inactive
                      - unauthorized_scope
                      - unauthorized_params
                    description: A machine-readable identifier for the specific authorization failure.
                  error:
                    type: string
                    examples:
                      - Invalid credentials.
        "403":
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Webinars are not available on your current plan
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Folder with ID 'fakeid' not found.
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  error:
                    type: string
                    examples:
                      - Internal server error
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: >-
          This tool replaces the underlying file of a media, which modifies the account.
        open_world_hint: false
        open_world_hint_justification: >-
          This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: The original media file is replaced and cannot be recovered.
      x-speakeasy-group: media
      x-speakeasy-name-override: swap
      x-wistia-mcp-tool-name: swap-media
      x-wistia-mcp-description: >
        Swap or replace the underlying file of one media (a video or audio file) with another,

[...]
